n8n-workflows/02-account-management.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Validate input data - n8n webhook format\nconst webhookData = $input.first().json;\n\n// Log incoming webhook data for debugging\nconsole.log('=== INCOMING WEBHOOK DATA ===');\nconsole.log('Raw webhook data:', JSON.stringify(webhookData, null, 2));\n\n// Extract body from webhook data\nconst data = webhookData.body || webhookData;\n\nconsole.log('=== EXTRACTED BODY DATA ===');\nconsole.log('Body data:', JSON.stringify(data, null, 2));\nconsole.log('Data type:', typeof data);\nconsole.log('Data keys:', Object.keys(data || {}));\nconsole.log('Action:', data?.action);\nconsole.log('UserId:', data?.userId);\nconsole.log('Email:', data?.email);\nconsole.log('Profile:', data?.profile);\nconsole.log('Metadata:', data?.metadata);\nconsole.log('Timestamp:', data?.timestamp);\nconsole.log('==========================');\n\n// Check required fields with better error messages\nif (!data?.action) {\n  console.log('❌ Missing action field');\n  throw new Error('Missing required field: action');\n}\n\nif (!data?.userId) {\n  console.log('❌ Missing userId field');\n  throw new Error('Missing required field: userId');\n}\n\n// Validate action\nconst validActions = ['read', 'create', 'update', 'get', 'delete'];\nif (!validActions.includes(data.action)) {\n  console.log('❌ Invalid action:', data.action);\n  throw new Error(`Invalid action: ${data.action}. Must be one of: ${validActions.join(', ')}`);\n}\n\n// Sanitize and prepare data - PRESERVE ALL FIELDS from body!\n// CRITICAL: Include dailyUsage - it's now a separate column, NOT in metadata!\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId,\n  email: data.email || '',\n  tier: data.tier, // Preserve tier if provided\n  dailyUsage: data.dailyUsage, // CRITICAL: Preserve dailyUsage (separate column!)\n  profile: data.profile || {},\n  metadata: data.metadata || {},\n  lastLogin: data.lastLogin, // Preserve lastLogin if provided\n  status: data.status, // Preserve status if provided\n  timestamp: data.timestamp || Date.now()\n};\n\nconsole.log('✅ Data validation passed');\nconsole.log('Sanitized data:', JSON.stringify(sanitizedData, null, 2));\n\nreturn { json: sanitizedData };"
      },
      "id": "530a2959-7546-496b-ad7f-d9a4629d15b2",
      "name": "Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if account already exists before creating\nconst items = $input.all();\nconst data = items[0].json; // Data from Validate Data\nconst existingAccount = items.length > 1 && items[1]?.json ? items[1].json : null;\n\nconsole.log('🔍 Checking for existing account with email:', data.email);\nconsole.log('📥 Existing account data:', existingAccount);\n\n// If account already exists, return error\nif (existingAccount && existingAccount.email && existingAccount.email.toLowerCase() === data.email.toLowerCase()) {\n  console.log('❌ Account already exists with email:', data.email);\n  throw new Error(`Account already exists with email: ${data.email}. Use 'update' action instead.`);\n}\n\n// Create new account only if it doesn't exist\nconst now = new Date().toISOString();\n\nconst newAccount = {\n  userId: data.userId,\n  email: data.email,\n  tier: data.tier || 'free',\n  createdAt: now,\n  lastLogin: now,\n  profile: typeof data.profile === 'string' ? data.profile : JSON.stringify(data.profile || {}),\n  metadata: typeof data.metadata === 'string' ? data.metadata : JSON.stringify(data.metadata || {}),\n  status: data.status || 'active'\n};\n\nconsole.log('✅ Creating new account:', JSON.stringify(newAccount, null, 2));\n\nreturn { json: newAccount };"
      },
      "id": "77a28d04-34a4-489d-ab47-8904d8cb1118",
      "name": "Create Account1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        912
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
          "mode": "list",
          "cachedResultName": "keymoji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1278731717,
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1278731717"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UserID": "={{ $json.userId }}",
            "Email": "={{ $json.email }}",
            "Tier": "={{ $json.tier }}",
            "CreatedAt": "={{ $json.createdAt }}",
            "LastLogin": "={{ $json.lastLogin }}",
            "Profile": "={{ $json.profile }}",
            "Metadata": "={{ $json.metadata }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CreatedAt",
              "displayName": "CreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastLogin",
              "displayName": "LastLogin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metadata",
              "displayName": "Metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "350c6123-bd19-489d-a3cd-665aa2b312ed",
      "name": "Save Account1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SjlKGbio83VCvDmo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"account\": {{ $json | json }},\n  \"message\": \"Account created successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "8b4cb6a0-723c-47ff-8295-4ff1792fefb1",
      "name": "Create Response2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        912
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xn--moji-pb73c-account",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Origin, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "58d061be-d62a-4e6e-bc68-9f8844e45402",
      "name": "CREATE Account",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        928
      ],
      "webhookId": "account-webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
          "mode": "list",
          "cachedResultName": "keymoji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1278731717,
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1278731717"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "dda462b7-30be-48a7-a1a3-59cc0ea5a4fc",
      "name": "Read Accounts2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        208,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SjlKGbio83VCvDmo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Origin, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "85f91baa-e306-45be-bbe1-a30997b937bc",
      "name": "Respond2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        1296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79476d68-4414-4110-a1f4-d1b6d91b14e3",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1312
      ],
      "id": "78a76c29-52fe-4f9c-abc8-ace9785bc9c6",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d15c31e-f60b-4b73-ae6d-99fc9772330f",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "02652a48-a80e-4dc3-bf5f-60d0436bbe1c",
              "name": "exists",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "432de590-1a7e-4b55-af04-e9d099b6e511",
              "name": "account",
              "value": "={{ JSON.stringify({\n  userId: $json.userId || $json.UserID,\n  email: $json.email || $json.Email,\n  tier: $json.tier || $json.Tier,\n  createdAt: $json.createdAt || $json.CreatedAt,\n  lastLogin: $json.lastLogin || $json.LastLogin,\n  profile: typeof $json.profile === 'string' ? JSON.parse($json.profile || '{}') : ($json.profile || {}),\n  metadata: typeof $json.metadata === 'string' ? JSON.parse($json.metadata || '{}') : ($json.metadata || {}),\n  status: $json.status || $json.Status\n}) }}",
              "type": "string"
            },
            {
              "id": "be1126bf-5455-4c39-b0ae-f3fec79bc454",
              "name": "message",
              "value": "Account found!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1248
      ],
      "id": "5da4c9d1-62a0-4414-ba7f-3a66c1a70cc2",
      "name": "Account True"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d15c31e-f60b-4b73-ae6d-99fc9772330f",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "02652a48-a80e-4dc3-bf5f-60d0436bbe1c",
              "name": "exists",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "432de590-1a7e-4b55-af04-e9d099b6e511",
              "name": "account",
              "value": "=No Account!",
              "type": "string"
            },
            {
              "id": "be1126bf-5455-4c39-b0ae-f3fec79bc454",
              "name": "message",
              "value": "No account found!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1376
      ],
      "id": "ee6eade1-988a-4507-b532-1b2d686c3d6c",
      "name": "Account false"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xn--moji-pb73c-account-check",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Origin, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "fbba5203-4209-4e88-81d7-adbc1673f02b",
      "name": "CHECK Account",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        1312
      ],
      "webhookId": "account-check-webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
          "mode": "list",
          "cachedResultName": "keymoji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1278731717,
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1278731717"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "c51cf61f-607e-4cb3-91d3-6b3d4e02e33e",
      "name": "Read Accounts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        448,
        1056
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SjlKGbio83VCvDmo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Response for Send Response Node\n// This node prepares the response data from Update Google Sheets\nconst items = $input.all();\nconst accountData = items[0].json;\n\n// Get action from Validate Data node (if available)\nlet action = 'update';\ntry {\n  const validateData = $('Validate Data').first()?.json;\n  if (validateData && validateData.action) {\n    action = validateData.action;\n  }\n} catch (e) {\n  // Fallback to 'update' if Validate Data not available\n  action = 'update';\n}\n\nconst isReadOperation = action === 'get' || action === 'read';\nconst message = isReadOperation ? 'Account retrieved successfully' : 'Account updated successfully';\n\n// Helper: Parse dailyUsage (can be string, object, or empty string)\nlet dailyUsage = accountData.dailyUsage || accountData.DailyUsage || null;\nif (dailyUsage && typeof dailyUsage === 'string' && dailyUsage.trim() !== '') {\n  try {\n    dailyUsage = JSON.parse(dailyUsage);\n  } catch (e) {\n    // If parsing fails, keep as string\n    dailyUsage = dailyUsage;\n  }\n} else if (dailyUsage === '' || dailyUsage === null || dailyUsage === undefined) {\n  dailyUsage = null;\n}\n\n// Helper: Parse profile\nlet profile = accountData.profile || {};\nif (typeof profile === 'string' && profile.trim() !== '') {\n  try {\n    profile = JSON.parse(profile);\n  } catch (e) {\n    profile = {};\n  }\n}\n\n// Helper: Parse metadata\nlet metadata = accountData.metadata || {};\nif (typeof metadata === 'string' && metadata.trim() !== '') {\n  try {\n    metadata = JSON.parse(metadata);\n  } catch (e) {\n    metadata = {};\n  }\n}\n\n// Build response object\nconst response = {\n  success: true,\n  account: {\n    userId: accountData.userId || accountData.UserID,\n    email: accountData.email || accountData.Email,\n    tier: accountData.tier || accountData.Tier,\n    createdAt: accountData.createdAt || accountData.CreatedAt,\n    lastLogin: accountData.lastLogin || accountData.LastLogin,\n    dailyUsage: dailyUsage,\n    profile: profile,\n    metadata: metadata,\n    status: accountData.status || accountData.Status\n  },\n  message: message,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('📤 Formatted response:', JSON.stringify(response, null, 2));\n\nreturn { json: response };"
      },
      "id": "format-response-node",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c45fe95d-0299-41ea-8aee-313a258b4385",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        1056
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
          "mode": "list",
          "cachedResultName": "keymoji"
        },
        "sheetName": {
          "__rl": true,
          "value": "accounts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "email": "={{ $json.email }}",
            "tier": "={{ $json.tier }}",
            "createdAt": "={{ $json.createdAt }}",
            "lastLogin": "={{ $json.lastLogin }}",
            "dailyUsage": "={{ $json.dailyUsage }}",
            "profile": "={{ $json.profile }}",
            "metadata": "={{ $json.metadata }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastLogin",
              "displayName": "lastLogin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dailyUsage",
              "displayName": "dailyUsage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "profile",
              "displayName": "profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c17aca25-4cda-4620-b0ee-d2abb797452a",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        880,
        1056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SjlKGbio83VCvDmo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab17ed40-2dc3-405f-8dcb-8e0ec8df5c9f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1284d069-fd5c-43e2-a99d-ab5cf348c60f",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abfc462b-d1ce-44ab-bd8e-6e8453904928",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        1040
      ],
      "id": "e1dcb18a-d458-4350-b7aa-5ce37e67d292",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a4b8781f-bb54-4bf5-9b6f-6eb29e314509",
              "leftValue": "={{ $json.action }}",
              "rightValue": "read",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e790862d-0228-455a-bef0-011347da7a03",
      "name": "Route by Action5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        896
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xn--moji-pb73c-account-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "49986523-7fa0-4319-8a24-fed140d616ea",
      "name": "UPDATE Account",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        1120
      ],
      "webhookId": "xn--moji-pb73c-account"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Account Update - Deep Merge for nested settings!\n// CRITICAL: createdAt MUST be preserved from existing account data - NEVER overwrite on update!\n// CRITICAL: For GET/READ operations, just pass through data WITHOUT updating!\nconst items = $input.all();\nconsole.log('📥 Total items:', items.length);\n\nif (!items || items.length === 0) {\n  throw new Error('No input data');\n}\n\n// Webhook data (items[0] - from Validate Data node)\nconst body = items[0].json;\n\n// CRITICAL: Check if this is a GET/READ operation - if so, just pass through data!\nconst action = body.action || 'get';\nif (action === 'get' || action === 'read') {\n  console.log('✅ [GET/READ] Pass-through mode - no update will be performed');\n  // For GET/READ, use data from Read Accounts (items[1] if exists, otherwise items[0])\n  const readData = items.length > 1 && items[1]?.json ? items[1].json : items[0].json;\n  return { json: readData };\n}\n\nconsole.log('📥 Incoming data from Validate Data:', JSON.stringify(body, null, 2));\n\n// CRITICAL: Validate required fields\n// userId is ALWAYS required\n// email can be empty string for updates (will be preserved from existing account)\nif (!body.userId) {\n  throw new Error('Missing required field: userId');\n}\n\n// For updates, email can be empty (will use existing email from Google Sheets)\n// Only require email if it's a new account creation\nif (!body.email && body.action === 'create') {\n  throw new Error('Missing required field: email (required for account creation)');\n}\n\n// Lookup data (items[1]) - existing Google Sheets data\nlet lookupData = null;\nif (items.length > 1 && items[1]?.json && items[1].json.userId) {\n  lookupData = items[1].json;\n  console.log('📥 Existing data from Google Sheets:', JSON.stringify(lookupData, null, 2));\n  console.log('🔍 Existing createdAt:', lookupData.createdAt || 'NOT FOUND');\n} else {\n  console.log('ℹ️ No existing account - creating new row');\n}\n\n// Helper: Parse JSON safely\nfunction parseJSON(value, fallback = {}) {\n  if (!value) return fallback;\n  if (typeof value === 'object' && !Array.isArray(value)) return value;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (trimmed === '' || trimmed === '\"\"') return fallback;\n    try {\n      const parsed = JSON.parse(trimmed);\n      if (typeof parsed === 'object' && !Array.isArray(parsed)) {\n        return parsed;\n      }\n    } catch (e) {\n      console.warn('⚠️ Parse error:', e.message);\n    }\n  }\n  return fallback;\n}\n\n// CRITICAL: Deep merge function for nested objects\nfunction deepMerge(target, source) {\n  const result = { ...target };\n  \n  for (const key in source) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      result[key] = deepMerge(target[key] || {}, source[key]);\n    } else {\n      result[key] = source[key];\n    }\n  }\n  \n  return result;\n}\n\n// Parse existing data\nlet existingProfile = {};\nlet existingMetadata = {};\n\nif (lookupData) {\n  existingProfile = parseJSON(lookupData.profile, {});\n  existingMetadata = parseJSON(lookupData.metadata, {});\n  // CRITICAL: Remove dailyUsage from existingMetadata if present (migration support)\n  // dailyUsage should be in its own column, not in metadata!\n  if (existingMetadata.dailyUsage) {\n    console.warn('⚠️ [MIGRATION] Removing dailyUsage from existingMetadata - should be in separate column');\n    const { dailyUsage, ...metadataWithoutDailyUsage } = existingMetadata;\n    existingMetadata = metadataWithoutDailyUsage;\n  }\n  console.log('📦 Existing profile:', existingProfile);\n  console.log('📦 Existing metadata:', existingMetadata);\n}\n\n// Parse incoming data\nconst incomingProfile = parseJSON(body.profile, {});\nconst incomingMetadata = parseJSON(body.metadata, {});\n\nconsole.log('📥 Incoming profile:', incomingProfile);\nconsole.log('📥 Incoming metadata:', incomingMetadata);\n\n// SMART MERGE: Only update if incoming data is not empty\nconst hasProfileData = Object.keys(incomingProfile).length > 0;\nconst hasMetadataSettings = incomingMetadata.settings && Object.keys(incomingMetadata.settings).length > 0;\nconst hasOtherMetadata = Object.keys(incomingMetadata).some(key => key !== 'settings' && incomingMetadata[key] !== undefined);\n\nconsole.log('📊 Incoming data check:', {\n  hasProfileData,\n  hasMetadataSettings,\n  hasOtherMetadata\n});\n\n// Build updated profile (only if new data provided)\nconst updatedProfile = hasProfileData\n  ? { ...existingProfile, ...incomingProfile }\n  : existingProfile;\n\n// Build updated metadata (DEEP MERGE for nested settings!)\nlet updatedMetadata = { ...existingMetadata };\n\n// Update settings only if provided - USE DEEP MERGE!\nif (hasMetadataSettings) {\n  updatedMetadata.settings = deepMerge(\n    existingMetadata.settings || {},\n    incomingMetadata.settings\n  );\n  console.log('✅ Settings updated (deep merge)');\n}\n\n// Update other metadata fields\n// CRITICAL: Exclude ALL fields that have their own columns!\n// Single Source of Truth: Fields with own columns should NOT be in metadata\n// Google Sheets columns: userId, email, tier, createdAt, lastLogin, profile, dailyUsage, status\nconst COLUMN_FIELDS = ['userId', 'email', 'tier', 'createdAt', 'lastLogin', 'profile', 'dailyUsage', 'status', 'UserID', 'Email', 'Tier', 'CreatedAt', 'LastLogin', 'Profile', 'DailyUsage', 'Status'];\nif (hasOtherMetadata) {\n  Object.keys(incomingMetadata).forEach(key => {\n    // Skip 'settings' (handled separately) AND all column fields (have own columns!)\n    if (key !== 'settings' && !COLUMN_FIELDS.includes(key)) {\n      updatedMetadata[key] = incomingMetadata[key];\n    } else if (COLUMN_FIELDS.includes(key)) {\n      console.warn(`⚠️ [METADATA CLEANER] Skipping duplicate field '${key}' - has own column in Google Sheets`);\n    }\n  });\n  console.log('✅ Metadata updated (duplicate fields excluded - single source of truth)');\n}\n\nconsole.log('🔄 Final merged data:');\nconsole.log('  profile:', updatedProfile);\nconsole.log('  metadata:', updatedMetadata);\n\n// CRITICAL: createdAt handling - MUST preserve from existing account!\n// n8n Google Sheets appendOrUpdate behavior:\n// - If field is in mapping and has value → updates the field\n// - If field is in mapping but is null/undefined → might delete the field!\n// - If field is NOT in output → field is not updated (preserved)\n// Solution: Only include createdAt in output if it has a valid value!\n// - For new accounts: Always set createdAt\n// - For existing accounts: Only include if lookupData.createdAt has a valid value (not null/undefined/empty)\nlet createdAtValue = null;\nlet shouldIncludeCreatedAt = false;\n\nif (lookupData) {\n  // Account exists - check if createdAt has a valid value\n  if (lookupData.hasOwnProperty('createdAt') && lookupData.createdAt && lookupData.createdAt.trim && lookupData.createdAt.trim() !== '') {\n    // Valid createdAt exists - preserve it!\n    createdAtValue = lookupData.createdAt;\n    shouldIncludeCreatedAt = true;\n    console.log('✅ Preserving existing createdAt from lookupData:', createdAtValue);\n  } else {\n    // createdAt is empty/null/undefined - DO NOT include in output to preserve existing value in Google Sheets!\n    shouldIncludeCreatedAt = false;\n    console.warn('⚠️ Account exists but createdAt is empty/null in lookupData - will NOT include in output (preserves existing in Google Sheets)');\n  }\n} else {\n  // New account - create createdAt\n  createdAtValue = new Date().toISOString();\n  shouldIncludeCreatedAt = true;\n  console.log('🆕 Creating new createdAt for new account:', createdAtValue);\n}\n\n// CRITICAL: dailyUsage handling - separate column, NOT in metadata!\n// dailyUsage should be in its own column for better performance and data flow\n// IMPORTANT: If body.dailyUsage is provided, ALWAYS include it in output (even if empty object!)\n// If not provided, preserve existing value from lookupData if it exists\nlet dailyUsageValue = null;\nlet shouldIncludeDailyUsage = false;\n\n// Check if dailyUsage is explicitly provided in the request\nif (body.hasOwnProperty('dailyUsage')) {\n  // dailyUsage is explicitly provided (even if null/undefined/empty object)\n  shouldIncludeDailyUsage = true;\n  if (body.dailyUsage !== null && body.dailyUsage !== undefined) {\n    // Has a value - stringify if object\n    dailyUsageValue = typeof body.dailyUsage === 'string' \n      ? body.dailyUsage \n      : JSON.stringify(body.dailyUsage);\n    console.log('✅ Using incoming dailyUsage:', dailyUsageValue.substring(0, 100));\n  } else {\n    // Explicitly null/undefined - set to empty string to clear column\n    dailyUsageValue = '';\n    console.log('ℹ️ Incoming dailyUsage is null/undefined - will clear column');\n  }\n} else if (lookupData && lookupData.hasOwnProperty('dailyUsage')) {\n  // No incoming dailyUsage, but existing data in Google Sheets - preserve it!\n  shouldIncludeDailyUsage = true;\n  dailyUsageValue = lookupData.dailyUsage || '';\n  console.log('✅ Preserving existing dailyUsage from lookupData');\n} else {\n  // No dailyUsage provided and no existing value - don't include in output\n  // This prevents Google Sheets from clearing/updating the column\n  console.log('ℹ️ No dailyUsage provided or found - will not update column (preserves existing)');\n}\n\n// Build output for Google Sheets\n// CRITICAL: Always include createdAt in output when account exists (to preserve it!)\n// dailyUsage is now a separate column, NOT in metadata!\n// CRITICAL: Use existing email from lookupData if body.email is empty (for updates)\nconst outputEmail = body.email && body.email.trim() !== '' \n  ? body.email \n  : (lookupData?.email || body.email || '');\n\nconst output = {\n  userId: body.userId,\n  email: outputEmail,\n  tier: body.tier || lookupData?.tier || 'free',\n  lastLogin: body.lastLogin || body.timestamp || new Date().toISOString(),\n  profile: JSON.stringify(updatedProfile),\n  metadata: JSON.stringify(updatedMetadata),\n  status: body.status || lookupData?.status || 'active'\n};\n\n// CRITICAL: Only include createdAt in output if it has a valid value!\n// This prevents Google Sheets from deleting/overwriting createdAt when it's empty/null\nif (shouldIncludeCreatedAt && createdAtValue) {\n  output.createdAt = createdAtValue;\n}\n\n// CRITICAL: Include dailyUsage in output if it was provided OR if we need to preserve existing value!\n// This ensures dailyUsage is written to Google Sheets when provided\nif (shouldIncludeDailyUsage) {\n  output.dailyUsage = dailyUsageValue !== null && dailyUsageValue !== undefined ? dailyUsageValue : '';\n}\n\nconsole.log('📤 Output for Google Sheets:', {\n  userId: output.userId,\n  email: output.email,\n  hasCreatedAt: !!output.createdAt,\n  createdAt: output.createdAt,\n  hasDailyUsage: !!output.dailyUsage,\n  dailyUsageLength: output.dailyUsage?.length || 0,\n  profileLength: output.profile.length,\n  metadataLength: output.metadata.length,\n  lastLogin: output.lastLogin\n});\n\nreturn { json: output };"
      },
      "id": "cd87adc6-af1b-42ca-8411-5d19d1b41d09",
      "name": "Process Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1056
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c79f22f-77bf-42af-a463-7cd1ed770d64",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        1024
      ],
      "id": "26c190b4-aa7b-40b1-8819-8a9a89683203",
      "name": "If1"
    }
  ],
  "connections": {
    "Validate Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Account1": {
      "main": [
        [
          {
            "node": "Save Account1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Account1": {
      "main": [
        [
          {
            "node": "Create Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Response2": {
      "main": [
        []
      ]
    },
    "CREATE Account": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Accounts2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond2": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Account True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Account false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account True": {
      "main": [
        [
          {
            "node": "Respond2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account false": {
      "main": [
        [
          {
            "node": "Respond2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK Account": {
      "main": [
        [
          {
            "node": "Read Accounts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Accounts": {
      "main": [
        [
          {
            "node": "Process Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response": {
      "main": [
        []
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Read Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Account1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Account": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Update": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dae61a0a24f0b093f057680559772c3c73ec97ec47a9bd2a5ad745c7d8f0365"
  }
}