n8n-workflows/02-account-management-ACTIVE-FIXED.json
{
  "name": "Account Management - ACTIVE FIXED",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Validate input data - n8n webhook format\nconst webhookData = $input.first().json;\n\n// Log incoming webhook data for debugging\nconsole.log('=== INCOMING WEBHOOK DATA ===');\nconsole.log('Raw webhook data:', JSON.stringify(webhookData, null, 2));\n\n// Extract body from webhook data\nconst data = webhookData.body || webhookData;\n\nconsole.log('=== EXTRACTED BODY DATA ===');\nconsole.log('Body data:', JSON.stringify(data, null, 2));\nconsole.log('Data type:', typeof data);\nconsole.log('Data keys:', Object.keys(data || {}));\nconsole.log('Action:', data?.action);\nconsole.log('UserId:', data?.userId);\nconsole.log('Email:', data?.email);\nconsole.log('Profile:', data?.profile);\nconsole.log('Metadata:', data?.metadata);\nconsole.log('Timestamp:', data?.timestamp);\nconsole.log('==========================');\n\n// Check required fields with better error messages\nif (!data?.action) {\n  console.log('❌ Missing action field');\n  throw new Error('Missing required field: action');\n}\n\nif (!data?.userId) {\n  console.log('❌ Missing userId field');\n  throw new Error('Missing required field: userId');\n}\n\n// Validate action\nconst validActions = ['read', 'create', 'update', 'get', 'delete'];\nif (!validActions.includes(data.action)) {\n  console.log('❌ Invalid action:', data.action);\n  throw new Error(`Invalid action: ${data.action}. Must be one of: ${validActions.join(', ')}`);\n}\n\n// Sanitize and prepare data\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId,\n  email: data.email || '',\n  profile: data.profile || {},\n  metadata: data.metadata || {},\n  timestamp: data.timestamp || Date.now()\n};\n\nconsole.log('✅ Data validation passed');\nconsole.log('Sanitized data:', JSON.stringify(sanitizedData, null, 2));\n\nreturn { json: sanitizedData };"
      },
      "id": "f458f118-00f6-4f6a-bcda-b1f7a6c37d52",
      "name": "Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        1088
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xn--moji-pb73c-account",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Origin, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "2497ad01-8f20-41f4-bf71-f137a2a9ca79",
      "name": "CREATE Account",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -272,
        1088
      ],
      "webhookId": "account-webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
          "mode": "list",
          "cachedResultName": "keymoji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1278731717,
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1278731717"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "6b28d59a-21a0-46ea-adf2-cf51797e0e8b",
      "name": "Read Accounts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        416,
        1088
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SjlKGbio83VCvDmo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n  {\n    \"success\": true,\n    \"account\": {\n      \"userId\": $json.userId,\n      \"email\": $json.email,\n      \"tier\": $json.tier,\n      \"createdAt\": $json.createdAt,\n      \"lastLogin\": $json.lastLogin,\n      \"profile\": JSON.parse($json.profile || '{}'),\n      \"metadata\": JSON.parse($json.metadata || '{}'),\n      \"status\": $json.status\n    },\n    \"message\": \"Account updated successfully\",\n    \"timestamp\": new Date().toISOString()\n  }\n}}",
        "options": {}
      },
      "id": "3ae43eb0-8c34-4ea4-891a-33f979afe653",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1344,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
          "mode": "list",
          "cachedResultName": "keymoji"
        },
        "sheetName": {
          "__rl": true,
          "value": "accounts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "email": "={{ $json.email }}",
            "tier": "={{ $json.tier }}",
            "createdAt": "={{ $json.createdAt }}",
            "lastLogin": "={{ $json.lastLogin }}",
            "profile": "={{ $json.profile }}",
            "metadata": "={{ $json.metadata }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "userId"
          ]
        },
        "options": {}
      },
      "id": "caaedc02-89f4-4286-9560-8d5591d8cbeb",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        848,
        1088
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SjlKGbio83VCvDmo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Account Update - Deep Merge for nested settings!\nconst items = $input.all();\nconsole.log('📥 Total items:', items.length);\n\nif (!items || items.length === 0) {\n  throw new Error('No input data');\n}\n\n// Webhook data (items[0])\nconst webhookItem = items[0].json;\nconst body = webhookItem.body || webhookItem;\n\nconsole.log('📥 Webhook body:', JSON.stringify(body, null, 2));\n\nif (!body.userId || !body.email) {\n  throw new Error('Missing userId or email');\n}\n\n// Lookup data (items[1]) - existing Google Sheets data\nlet lookupData = null;\nif (items.length > 1 && items[1]?.json && items[1].json.userId) {\n  lookupData = items[1].json;\n  console.log('📥 Existing data from Google Sheets:', JSON.stringify(lookupData, null, 2));\n} else {\n  console.log('ℹ️ No existing account - creating new row');\n}\n\n// Helper: Parse JSON safely\nfunction parseJSON(value, fallback = {}) {\n  if (!value) return fallback;\n  if (typeof value === 'object' && !Array.isArray(value)) return value;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (trimmed === '' || trimmed === '\"\"') return fallback;\n    try {\n      const parsed = JSON.parse(trimmed);\n      if (typeof parsed === 'object' && !Array.isArray(parsed)) {\n        return parsed;\n      }\n    } catch (e) {\n      console.warn('⚠️ Parse error:', e.message);\n    }\n  }\n  return fallback;\n}\n\n// CRITICAL: Deep merge function for nested objects\nfunction deepMerge(target, source) {\n  const result = { ...target };\n  \n  for (const key in source) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      result[key] = deepMerge(target[key] || {}, source[key]);\n    } else {\n      result[key] = source[key];\n    }\n  }\n  \n  return result;\n}\n\n// Parse existing data\nlet existingProfile = {};\nlet existingMetadata = {};\n\nif (lookupData) {\n  existingProfile = parseJSON(lookupData.profile, {});\n  existingMetadata = parseJSON(lookupData.metadata, {});\n  console.log('📦 Existing profile:', existingProfile);\n  console.log('📦 Existing metadata:', existingMetadata);\n}\n\n// Parse incoming data\nconst incomingProfile = parseJSON(body.profile, {});\nconst incomingMetadata = parseJSON(body.metadata, {});\n\nconsole.log('📥 Incoming profile:', incomingProfile);\nconsole.log('📥 Incoming metadata:', incomingMetadata);\n\n// SMART MERGE: Only update if incoming data is not empty\nconst hasProfileData = Object.keys(incomingProfile).length > 0;\nconst hasMetadataSettings = incomingMetadata.settings && Object.keys(incomingMetadata.settings).length > 0;\nconst hasOtherMetadata = Object.keys(incomingMetadata).some(key => key !== 'settings' && incomingMetadata[key] !== undefined);\n\nconsole.log('📊 Incoming data check:', {\n  hasProfileData,\n  hasMetadataSettings,\n  hasOtherMetadata\n});\n\n// Build updated profile (only if new data provided)\nconst updatedProfile = hasProfileData\n  ? { ...existingProfile, ...incomingProfile }\n  : existingProfile;\n\n// Build updated metadata (DEEP MERGE for nested settings!)\nlet updatedMetadata = { ...existingMetadata };\n\n// Update settings only if provided - USE DEEP MERGE!\nif (hasMetadataSettings) {\n  updatedMetadata.settings = deepMerge(\n    existingMetadata.settings || {},\n    incomingMetadata.settings\n  );\n  console.log('✅ Settings updated (deep merge)');\n}\n\n// Update other metadata fields\nif (hasOtherMetadata) {\n  Object.keys(incomingMetadata).forEach(key => {\n    if (key !== 'settings') {\n      updatedMetadata[key] = incomingMetadata[key];\n    }\n  });\n  console.log('✅ Metadata updated');\n}\n\nconsole.log('🔄 Final merged data:');\nconsole.log('  profile:', updatedProfile);\nconsole.log('  metadata:', updatedMetadata);\n\n// Build output for Google Sheets\nconst output = {\n  userId: body.userId,\n  email: body.email,\n  tier: body.tier || lookupData?.tier || 'free',\n  createdAt: lookupData?.createdAt || body.createdAt || new Date().toISOString(),\n  lastLogin: body.lastLogin || body.timestamp || new Date().toISOString(),\n  profile: JSON.stringify(updatedProfile),\n  metadata: JSON.stringify(updatedMetadata),\n  status: body.status || lookupData?.status || 'active'\n};\n\nconsole.log('📤 Output for Google Sheets:', {\n  userId: output.userId,\n  email: output.email,\n  profileLength: output.profile.length,\n  metadataLength: output.metadata.length,\n  lastLogin: output.lastLogin\n});\n\nreturn { json: output };"
      },
      "id": "75162208-74a0-4c41-98b9-757819fd7006",
      "name": "Process Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1088
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab17ed40-2dc3-405f-8dcb-8e0ec8df5c9f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1284d069-fd5c-43e2-a99d-ab5cf348c60f",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "update-case-id",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        176,
        1088
      ],
      "id": "f69b2045-b287-4dc4-8390-dbfbb79b12fc",
      "name": "Switch"
    }
  ],
  "connections": {
    "Validate Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE Account": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Accounts": {
      "main": [
        [
          {
            "node": "Process Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response": {
      "main": [
        []
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Update": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Read Accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dae61a0a24f0b093f057680559772c3c73ec97ec47a9bd2a5ad745c7d8f0365"
  }
}

