n8n-workflows/02-account-management-COMPLETE-v2.json
{
    "name": "Account Management - Complete v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "account-update",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "webhookId": "xn--moji-pb73c-account"
        },
        {
            "parameters": {
                "operation": "search",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "accounts",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "userId",
                            "condition": "equals",
                            "value": "={{ $json.userId }}"
                        }
                    ]
                },
                "options": {
                    "returnAllMatches": false
                }
            },
            "id": "lookup-account",
            "name": "Lookup Account",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.1,
            "position": [
                440,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Enhanced Account Update - Deep Merge for nested settings!\nconst items = $input.all();\nconsole.log('📥 Total items:', items.length);\n\nif (!items || items.length === 0) {\n  throw new Error('No input data');\n}\n\n// Webhook data (items[0])\nconst webhookItem = items[0].json;\nconst body = webhookItem.body || webhookItem;\n\nconsole.log('📥 Webhook body:', JSON.stringify(body, null, 2));\n\nif (!body.userId || !body.email) {\n  throw new Error('Missing userId or email');\n}\n\n// Lookup data (items[1]) - existing Google Sheets data\nlet lookupData = null;\nif (items.length > 1 && items[1]?.json && items[1].json.userId) {\n  lookupData = items[1].json;\n  console.log('📥 Existing data from Google Sheets:', JSON.stringify(lookupData, null, 2));\n} else {\n  console.log('ℹ️ No existing account - creating new row');\n}\n\n// Helper: Parse JSON safely\nfunction parseJSON(value, fallback = {}) {\n  if (!value) return fallback;\n  if (typeof value === 'object' && !Array.isArray(value)) return value;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (trimmed === '' || trimmed === '\"\"') return fallback;\n    try {\n      const parsed = JSON.parse(trimmed);\n      if (typeof parsed === 'object' && !Array.isArray(parsed)) {\n        return parsed;\n      }\n    } catch (e) {\n      console.warn('⚠️ Parse error:', e.message);\n    }\n  }\n  return fallback;\n}\n\n// CRITICAL: Deep merge function for nested objects\nfunction deepMerge(target, source) {\n  const result = { ...target };\n  \n  for (const key in source) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      result[key] = deepMerge(target[key] || {}, source[key]);\n    } else {\n      result[key] = source[key];\n    }\n  }\n  \n  return result;\n}\n\n// Parse existing data\nlet existingProfile = {};\nlet existingMetadata = {};\n\nif (lookupData) {\n  existingProfile = parseJSON(lookupData.profile, {});\n  existingMetadata = parseJSON(lookupData.metadata, {});\n  console.log('📦 Existing profile:', existingProfile);\n  console.log('📦 Existing metadata:', existingMetadata);\n}\n\n// Parse incoming data\nconst incomingProfile = parseJSON(body.profile, {});\nconst incomingMetadata = parseJSON(body.metadata, {});\n\nconsole.log('📥 Incoming profile:', incomingProfile);\nconsole.log('📥 Incoming metadata:', incomingMetadata);\n\n// SMART MERGE: Only update if incoming data is not empty\nconst hasProfileData = Object.keys(incomingProfile).length > 0;\nconst hasMetadataSettings = incomingMetadata.settings && Object.keys(incomingMetadata.settings).length > 0;\nconst hasOtherMetadata = Object.keys(incomingMetadata).some(key => key !== 'settings' && incomingMetadata[key] !== undefined);\n\nconsole.log('📊 Incoming data check:', {\n  hasProfileData,\n  hasMetadataSettings,\n  hasOtherMetadata\n});\n\n// Build updated profile (only if new data provided)\nconst updatedProfile = hasProfileData\n  ? { ...existingProfile, ...incomingProfile }\n  : existingProfile;\n\n// Build updated metadata (DEEP MERGE for nested settings!)\nlet updatedMetadata = { ...existingMetadata };\n\n// Update settings only if provided - USE DEEP MERGE!\nif (hasMetadataSettings) {\n  updatedMetadata.settings = deepMerge(\n    existingMetadata.settings || {},\n    incomingMetadata.settings\n  );\n  console.log('✅ Settings updated (deep merge)');\n}\n\n// Update other metadata fields\nif (hasOtherMetadata) {\n  Object.keys(incomingMetadata).forEach(key => {\n    if (key !== 'settings') {\n      updatedMetadata[key] = incomingMetadata[key];\n    }\n  });\n  console.log('✅ Metadata updated');\n}\n\nconsole.log('🔄 Final merged data:');\nconsole.log('  profile:', updatedProfile);\nconsole.log('  metadata:', updatedMetadata);\n\n// Build output for Google Sheets\nconst output = {\n  userId: body.userId,\n  email: body.email,\n  tier: body.tier || lookupData?.tier || 'free',\n  createdAt: lookupData?.createdAt || body.createdAt || new Date().toISOString(),\n  lastLogin: body.lastLogin || body.timestamp || new Date().toISOString(),\n  profile: JSON.stringify(updatedProfile),\n  metadata: JSON.stringify(updatedMetadata),\n  status: body.status || lookupData?.status || 'active'\n};\n\nconsole.log('📤 Output for Google Sheets:', {\n  userId: output.userId,\n  email: output.email,\n  profileLength: output.profile.length,\n  metadataLength: output.metadata.length,\n  lastLogin: output.lastLogin\n});\n\nreturn { json: output };"
            },
            "id": "process-update",
            "name": "Process Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                300
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "accounts",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "userId": "={{ $json.userId }}",
                        "email": "={{ $json.email }}",
                        "tier": "={{ $json.tier }}",
                        "createdAt": "={{ $json.createdAt }}",
                        "lastLogin": "={{ $json.lastLogin }}",
                        "profile": "={{ $json.profile }}",
                        "metadata": "={{ $json.metadata }}",
                        "status": "={{ $json.status }}"
                    },
                    "matchingColumns": [
                        "userId"
                    ]
                },
                "options": {}
            },
            "id": "update-sheets",
            "name": "Update Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.1,
            "position": [
                840,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ \n  {\n    \"success\": true,\n    \"account\": {\n      \"userId\": $json.userId,\n      \"email\": $json.email,\n      \"tier\": $json.tier,\n      \"createdAt\": $json.createdAt,\n      \"lastLogin\": $json.lastLogin,\n      \"profile\": JSON.parse($json.profile || '{}'),\n      \"metadata\": JSON.parse($json.metadata || '{}'),\n      \"status\": $json.status\n    },\n    \"message\": \"Account updated successfully\",\n    \"timestamp\": new Date().toISOString()\n  }\n}}",
                "options": {}
            },
            "id": "send-response",
            "name": "Send Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1040,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Lookup Account",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Account": {
            "main": [
                [
                    {
                        "node": "Process Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Update": {
            "main": [
                [
                    {
                        "node": "Update Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Google Sheets": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}