n8n-workflows/KEYMOJI-ACCOUNT-WORKING-COMPLETE.json
{
    "nodes": [
        {
            "parameters": {
                "jsCode": "// Final formatting: Convert cleaned posts to array format\n// Handle both single items and arrays from Clean Post Data\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  console.warn('⚠️ [Format Response] No items to format, returning empty array');\n  return [{ json: [] }];\n}\n\n// Extract posts from items\nconst posts = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  \n  // If json is already an array, spread it\n  if (Array.isArray(json)) {\n    posts.push(...json);\n  } else if (json.posts && Array.isArray(json.posts)) {\n    // If json has a posts property\n    posts.push(...json.posts);\n  } else if (json.title || json.content || json.link) {\n    // Single post object\n    posts.push(json);\n  }\n}\n\nconsole.log('✅ [Format Response] Formatted posts for response:', posts.length);\n\n// Return as array for Respond with Posts\nreturn posts.map(post => ({ json: post }));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8848,
                7360
            ],
            "id": "538be4cf-bc0d-44b6-a869-dd712df9e221",
            "name": "Format Response1"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: $json.success || true, likes: $json.likes || 0, post_id: $json.post_id || null } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept, X-Requested-With"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                9280,
                7536
            ],
            "id": "6762aca5-c4f9-4067-abb6-e292e3426b3c",
            "name": "Respond with Like Result"
        },
        {
            "parameters": {
                "jsCode": "// Format response data for Respond with Like Result\n// Get data from Save Like node (updated row) and Prepare Like Update node (postId)\nconst saveLikeData = $input.first().json;\nconst prepareData = $('Prepare Like Update').first().json;\n\n// Debug: Log what we received\nconsole.log('📡 [Format Like Response] Save Like data:', JSON.stringify(saveLikeData));\nconsole.log('📡 [Format Like Response] Prepare data:', JSON.stringify(prepareData));\n\n// Check if Save Like node returned empty (update failed)\nif (!saveLikeData || Object.keys(saveLikeData).length === 0) {\n  console.warn('⚠️ [Format Like Response] Save Like node returned empty, using prepareData');\n  // Use prepareData as fallback (optimistic update)\n  const likes = parseInt(prepareData.liked || 0, 10) || 0;\n  const postId = prepareData.postId || prepareData.row_number || null;\n  \n  return [{\n    json: {\n      success: true,\n      likes: likes,\n      post_id: postId,\n      warning: 'Update may have failed, using optimistic value'\n    }\n  }];\n}\n\n// Extract liked count from updated row\nconst likes = parseInt(saveLikeData.liked || prepareData.liked || 0, 10) || 0;\n\n// Extract postId from Prepare Like Update node\nconst postId = prepareData.postId || prepareData.row_number || saveLikeData.postId || saveLikeData.post_id || null;\n\nreturn [{\n  json: {\n    success: true,\n    likes: likes,\n    post_id: postId\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                9136,
                7536
            ],
            "id": "ff65f08d-ed77-48c1-bb57-776bd8c1234f",
            "name": "Format Like Response"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1413482999,
                    "mode": "list",
                    "cachedResultName": "blog",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1413482999"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "title": "={{ $json.title }}",
                        "liked": "={{ $json.liked }}"
                    },
                    "matchingColumns": [
                        "title"
                    ],
                    "schema": [
                        {
                            "id": "title",
                            "displayName": "title",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "liked",
                            "displayName": "liked",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {
                    "cellFormat": "USER_ENTERED"
                }
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                8992,
                7536
            ],
            "id": "07e43c73-9cc9-4458-829c-b78b4a78af66",
            "name": "Save Like",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Prepare data for updating liked column\n// We need to merge data from two sources:\n// 1. Original request (from Check Request Method) - contains postId\n// 2. Row data (from Read Blog Row) - contains current liked value\n\n// Get original request data from Check Request Method node\nconst originalRequest = $('Check Request Method').first().json.body || $('Check Request Method').first().json;\nconst postId = originalRequest.postId || originalRequest.post_id || originalRequest.rowNumber || originalRequest.row_number;\n\n// Get all rows from Read Blog Row node\nconst allRows = $input.all();\n\n// Find the row that matches our rowNumber\n// Row number 700 means it's the 700th data row (row 701 in sheet, accounting for header)\nlet targetRow = null;\n\nif (postId) {\n  // Try to find row by index (postId should be the row number)\n  // The Read Blog Row node returns all rows, so we need to find the one at index (postId - 1)\n  const rowIndex = parseInt(postId, 10) - 1; // Convert to 0-based index\n  if (rowIndex >= 0 && rowIndex < allRows.length) {\n    targetRow = allRows[rowIndex].json;\n  } else {\n    // Fallback: use first row if index not found\n    targetRow = allRows[0]?.json || {};\n  }\n} else {\n  // No postId, use first row\n  targetRow = allRows[0]?.json || {};\n}\n\n// Extract current liked value and increment/decrement based on unlike flag\nconst currentLikes = parseInt(targetRow.liked || 0, 10) || 0;\nconst isUnlike = originalRequest.unlike === true || originalRequest.unlike === 'true';\nconst newLikes = isUnlike ? Math.max(0, currentLikes - 1) : currentLikes + 1;\n\n// Return data for update node\n// We need to provide a matching column value (title) and the updated liked value\n// Ensure title is trimmed and matches exactly\nconst title = (targetRow.title || '').trim();\n\nif (!title) {\n  console.error('❌ [Prepare Like Update] No title found for row:', postId);\n  return [{\n    json: {\n      error: 'No title found',\n      postId: postId,\n      row_number: postId\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    title: title, // Use title as matching column (trimmed)\n    liked: newLikes.toString(), // Update liked column\n    postId: postId,\n    row_number: postId\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8832,
                7536
            ],
            "id": "d2b543f5-5d81-46f4-9117-c60ca59bd99d",
            "name": "Prepare Like Update"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1413482999,
                    "mode": "list",
                    "cachedResultName": "blog",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1413482999"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                8656,
                7536
            ],
            "id": "496025a6-9947-4b04-9241-c63b2975c64a",
            "name": "Read Blog Row",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "type": "string"
                    },
                    "conditions": [
                        {
                            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                            "leftValue": "={{ $json.method || $json.headers[':method'] || $json.headers['x-http-method'] || $json.headers.method || 'GET' }}",
                            "rightValue": "POST",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                8464,
                7536
            ],
            "id": "e287961f-e26d-45ad-9c48-b438b46c6634",
            "name": "Check Request Method"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {} }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept, X-Requested-With"
                            },
                            {
                                "name": "Access-Control-Max-Age",
                                "value": "86400"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                8064,
                7408
            ],
            "id": "0ba855a3-42c8-4109-b8f4-81dd65b8148e",
            "name": "Respond to OPTIONS"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "opt-001",
                            "leftValue": "={{ $json.method || $json.headers[':method'] || $json.headers['x-http-method'] || $json.headers.method || 'GET' }}",
                            "rightValue": "OPTIONS",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                7872,
                7536
            ],
            "id": "2fdefee9-0b1f-4a4c-98ae-9c8e8fa27348",
            "name": "Handle OPTIONS Request"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-blog-likes",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept, X-Requested-With"
                            },
                            {
                                "name": "Access-Control-Max-Age",
                                "value": "86400"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Cache-Control",
                                "value": "max-age=900"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                7648,
                7536
            ],
            "id": "20aba371-c984-4a68-8fb7-9dbd1f797ca4",
            "name": "Blog Posts Likes Webhook",
            "webhookId": "f2d1e3c4-5a6b-7c8d-9e0f-a1b2c3d4e5f6"
        },
        {
            "parameters": {
                "jsCode": "// Extract likes from blog sheet (liked column)\n// The blog sheet has columns: title, content, image, isodate, creator, category, link, liked\n// We need to map row numbers to liked counts\nconst likesData = [];\n\nfor (const item of $input.all()) {\n  // Each row from blog sheet has a liked column\n  // Row number is the index (1-based, but we need to account for header row)\n  const rowNumber = item.json.__rowNumber || item.json.row_number || (likesData.length + 1);\n  const likes = parseInt(item.json.liked || item.json.likes || 0, 10) || 0;\n  \n  likesData.push({\n    row_number: rowNumber,\n    likes: likes\n  });\n}\n\nreturn [{ json: { likesData: likesData } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8272,
                7536
            ],
            "id": "62253737-0638-4ea8-be91-6a0b8e21fa78",
            "name": "Process Likes"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1413482999,
                    "mode": "list",
                    "cachedResultName": "blog",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1413482999"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                8064,
                7536
            ],
            "id": "47a60e17-ae0f-474c-8c6e-892ac00cf635",
            "name": "Get Likes Data",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept, X-Requested-With"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                9280,
                7360
            ],
            "id": "5c03900e-ffea-461c-8fd2-b3c661981e76",
            "name": "Respond with Posts"
        },
        {
            "parameters": {
                "jsCode": "// Format and clean blog post data\n// Ensure all required fields are present and properly formatted\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: [] }];\n}\n\nconst cleanedPosts = items.map((item, index) => {\n  const post = item.json || {};\n  \n  // Ensure required fields with defaults\n  const cleaned = {\n    id: post.id || post.row_number || post.__rowNumber || (index + 1),\n    row_number: post.row_number || post.__rowNumber || (index + 1),\n    title: post.title || 'Untitled',\n    content: post.content || post.body || '',\n    excerpt: post.excerpt || post.description || '',\n    image: post.image || post.thumbnail || '',\n    thumbnail: post.thumbnail || post.image || '',\n    isodate: post.isodate || post.date || new Date().toISOString(),\n    date: post.date || post.isodate || new Date().toISOString(),\n    creator: post.creator || post.author || 'Keymoji Team',\n    category: post.category || 'uncategorized',\n    link: post.link || '',\n    slug: post.slug || '',\n    likes: parseInt(post.likes || post.liked || 0, 10) || 0,\n    liked: post.liked === true || post.liked === 'true' || false\n  };\n  \n  // Generate slug from title if missing\n  if (!cleaned.slug && cleaned.title) {\n    cleaned.slug = cleaned.title\n      .toLowerCase()\n      .replace(/[^a-z0-9]+/g, '-')\n      .replace(/^-+|-+$/g, '');\n  }\n  \n  return { json: cleaned };\n});\n\nconsole.log('✅ [Clean Post Data] Cleaned posts:', cleanedPosts.length);\n\nreturn cleanedPosts;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8656,
                7360
            ],
            "id": "5a4e6726-71bb-4ebe-ab4b-6daa729ec96a",
            "name": "Clean Post Data"
        },
        {
            "parameters": {
                "jsCode": "// Validate and handle empty data from Google Sheets\n// If Google Sheets returns empty or restricted, return empty array\nconst items = $input.all();\n\nconsole.log('📊 [Validate Blog Posts] Received items:', items.length);\n\n// Check if we have valid data\nif (!items || items.length === 0) {\n  console.warn('⚠️ [Validate Blog Posts] No items received from Google Sheets');\n  // Return empty array instead of failing\n  return [{ json: { posts: [] } }];\n}\n\n// Check if first item has error\nconst firstItem = items[0];\nif (firstItem.error || firstItem.json?.error) {\n  console.error('❌ [Validate Blog Posts] Error from Google Sheets:', firstItem.error || firstItem.json?.error);\n  // Return empty array instead of failing\n  return [{ json: { posts: [] } }];\n}\n\n// Check if data structure is valid (should have title, content, etc.)\nconst validItems = items.filter(item => {\n  const json = item.json || {};\n  // At minimum, should have title or content\n  return json.title || json.content || json.link;\n});\n\nif (validItems.length === 0) {\n  console.warn('⚠️ [Validate Blog Posts] No valid blog posts found in data');\n  return [{ json: { posts: [] } }];\n}\n\nconsole.log('✅ [Validate Blog Posts] Valid posts found:', validItems.length);\n\n// Return valid items\nreturn validItems.map(item => ({ json: item.json }));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8464,
                7360
            ],
            "id": "a890a40b-8cbd-40b0-8b9f-ccc48b7c0979",
            "name": "Validate Blog Posts"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2.1,
            "position": [
                8272,
                7360
            ],
            "id": "d443fe24-a422-49c5-8c6d-9c823527af5e",
            "name": "Merge With Likes"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1413482999,
                    "mode": "list",
                    "cachedResultName": "blog",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1413482999"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                7872,
                7344
            ],
            "id": "049f8316-cc05-4d1a-8f9f-727a5c7926a9",
            "name": "Get Blog Posts",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "path": "xn--moji-pb73c-blog-posts",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Cache-Control",
                                "value": "max-age=900"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                7648,
                7344
            ],
            "id": "03e92e51-429f-48e7-9cfe-f937ff0b8f54",
            "name": "Blog Posts Webhook",
            "webhookId": "f2d1e3c4-5a6b-7c8d-9e0f-a1b2c3d4e5f6"
        },
        {
            "parameters": {
                "content": "## Blog\n\n\n\n",
                "height": 480,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                7248
            ],
            "id": "b4c87aa3-d4ce-4c12-8271-e01abcc068e6",
            "name": "Sticky Note9"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-account-check",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS, GET"
                            },
                            {
                                "name": "Access-Control-Allow-Credentials",
                                "value": "true"
                            }
                        ]
                    }
                }
            },
            "id": "406ca2a8-5edf-4af1-b601-0e0f8b01816f",
            "name": "CHECK Account",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7648,
                9632
            ],
            "webhookId": "account-check-webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4d15c31e-f60b-4b73-ae6d-99fc9772330f",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "02652a48-a80e-4dc3-bf5f-60d0436bbe1c",
                            "name": "exists",
                            "value": false,
                            "type": "boolean"
                        },
                        {
                            "id": "432de590-1a7e-4b55-af04-e9d099b6e511",
                            "name": "account",
                            "value": "=No Account!",
                            "type": "string"
                        },
                        {
                            "id": "be1126bf-5455-4c39-b0ae-f3fec79bc454",
                            "name": "message",
                            "value": "No account found!",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                8672,
                9696
            ],
            "id": "21959d2a-3b45-4e41-8888-9e9bda0118b4",
            "name": "Account false"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4d15c31e-f60b-4b73-ae6d-99fc9772330f",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "02652a48-a80e-4dc3-bf5f-60d0436bbe1c",
                            "name": "exists",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "432de590-1a7e-4b55-af04-e9d099b6e511",
                            "name": "account",
                            "value": "={{ JSON.stringify({\n  userId: $json.userId || $json.UserID,\n  email: $json.email || $json.Email,\n  tier: $json.tier || $json.Tier,\n  createdAt: $json.createdAt || $json.CreatedAt,\n  lastLogin: $json.lastLogin || $json.LastLogin,\n  profile: typeof $json.profile === 'string' ? JSON.parse($json.profile || '{}') : ($json.profile || {}),\n  metadata: typeof $json.metadata === 'string' ? JSON.parse($json.metadata || '{}') : ($json.metadata || {}),\n  status: $json.status || $json.Status\n}) }}",
                            "type": "string"
                        },
                        {
                            "id": "be1126bf-5455-4c39-b0ae-f3fec79bc454",
                            "name": "message",
                            "value": "Account found!",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                8672,
                9568
            ],
            "id": "cb97cbf6-6c01-4022-b715-830d0614f3b9",
            "name": "Account True"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "79476d68-4414-4110-a1f4-d1b6d91b14e3",
                            "leftValue": "={{ $json.email }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                8464,
                9632
            ],
            "id": "0c92d435-d9b8-4a78-b21d-e4c885c2afd1",
            "name": "If"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS, GET"
                            },
                            {
                                "name": "Access-Control-Allow-Credentials",
                                "value": "true"
                            }
                        ]
                    }
                }
            },
            "id": "58d014e4-e33b-4445-86b2-448a7afb69b3",
            "name": "Respond2",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9280,
                9616
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1278731717,
                    "mode": "list",
                    "cachedResultName": "accounts",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1278731717"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "email",
                            "lookupValue": "={{ $json.body.email }}"
                        }
                    ]
                },
                "combineFilters": "AND",
                "options": {
                    "returnAllMatches": "returnFirstMatch"
                }
            },
            "id": "1e3a9409-e29e-45dc-bc72-78e6fa0d7945",
            "name": "Read Accounts2",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8272,
                9632
            ],
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                9824,
                10112
            ],
            "id": "e8fdb66c-9774-437a-a1ba-df9bcbba030b",
            "name": "Finished1"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                10992,
                9328
            ],
            "id": "7a8e919c-ddd1-46e4-9d88-790916503fec",
            "name": "Finished"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                10800,
                9328
            ],
            "id": "8dff9835-a67b-4134-845e-b8cb971a8b72",
            "name": "Respond to Webhook1"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Analytics saved\",\n  \"timestamp\": \"{{ new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' }) }}\"\n}",
                "options": {}
            },
            "id": "4ef4355d-c3ec-417a-98f2-fcd22ade78bd",
            "name": "Analytics Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9264,
                8416
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 949619593,
                    "mode": "list",
                    "cachedResultName": "analytics",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=949619593"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "type",
                            "displayName": "type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "path",
                            "displayName": "path",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "client",
                            "displayName": "client",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "version",
                            "displayName": "version",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "timestamp",
                            "displayName": "timestamp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "language",
                            "displayName": "language",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "referrer",
                            "displayName": "referrer",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "screen",
                            "displayName": "screen",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "data",
                            "displayName": "data",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "eventData",
                            "displayName": "eventData",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "ipAddress",
                            "displayName": "ipAddress",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "userAgent",
                            "displayName": "userAgent",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "platform",
                            "displayName": "platform",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "deviceType",
                            "displayName": "deviceType",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "cfe2e41a-8ccf-4272-9f77-ae6f52550255",
            "name": "Save to Analytics Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8336,
                8416
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Eingangsdaten aus dem Webhook abrufen\nconst webhookData = $input.first().json;\n\nconsole.log('=== ANALYTICS WEBHOOK ===');\nconsole.log('Raw webhook data:', JSON.stringify(webhookData, null, 2));\n\n// Body extrahieren\nconst data = webhookData.body || webhookData;\n\nconsole.log('Body data:', JSON.stringify(data, null, 2));\n\n// IP-Adresse aus Headers extrahieren (korrekt!)\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] ||\n                  webhookData.headers?.['x-real-ip'] ||\n                  webhookData.headers?.['cf-connecting-ip'] ||\n                  'unknown';\n\nconsole.log('🌐 IP Address detected:', ipAddress);\n\n// Pflichtfeld-Prüfung\nif (!data.type) {\n    throw new Error('Missing required field: type');\n}\n\nconsole.log('✅ Analytics data validation passed');\nconsole.log('Event type:', data.type);\n\n// Formatierte Daten\nconst formattedData = {\n    type: data.type,\n    path: data.path || '/',\n    client: data.client || '',\n    version: data.version || '0.5.0',\n    timestamp: data.timestamp || new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' }),\n    language: data.language || 'en',\n    referrer: data.referrer || 'direct',\n    screen: data.screen || '',\n    data: data.data || '',\n    eventData: data.eventData || '',\n    ipAddress: ipAddress,\n    userAgent: data.userAgent || '',\n    platform: data.platform || '',\n    deviceType: data.deviceType || ''\n};\n\nconsole.log('📦 Formatted data for processing:', JSON.stringify(formattedData, null, 2));\n\nreturn { json: formattedData };"
            },
            "id": "996fc1bc-ce08-4d89-a749-9b11e22c8237",
            "name": "Validate Analytics Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7872,
                8416
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-analytics",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            }
                        ]
                    }
                }
            },
            "id": "4c469bd6-09ca-4588-b38b-f04e1d52182c",
            "name": "Analytics Only Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7664,
                8416
            ],
            "webhookId": "analytics-only-webhook"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Counter updated successfully\",\n  \"counter\": {{ $json.counter }},\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
                "options": {}
            },
            "id": "c33a1c53-eb50-423a-ac2e-b54e186e3111",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9264,
                8656
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "counter",
                            "displayName": "counter",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "lastupdated",
                            "displayName": "lastupdated",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "b79e78ae-c549-4acf-ba1a-67cf4c2a6ef7",
            "name": "Save Updated Counter",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8768,
                8656
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Find the highest counter value from all rows\nconst items = $input.all();\nlet maxCounter = 0;\n\nconsole.log('=== FIND MAX COUNTER ===');\nconsole.log('Total rows:', items.length);\n\n// Go through all rows to find the highest counter\nitems.forEach((item, index) => {\n    const row = item.json;\n    console.log(`Row ${index}:`, row);\n    \n    // Try different possible counter field names (column B)\n    let counterValue = 0;\n    if (row.B) {\n        counterValue = parseInt(row.B) || 0;\n    } else if (row.counter) {\n        counterValue = parseInt(row.counter) || 0;\n    } else if (row.Counter) {\n        counterValue = parseInt(row.Counter) || 0;\n    } else if (row.COUNTER) {\n        counterValue = parseInt(row.COUNTER) || 0;\n    } else if (row[1]) {\n        counterValue = parseInt(row[1]) || 0;\n    }\n    \n    if (counterValue > maxCounter) {\n        maxCounter = counterValue;\n        console.log(`New max counter found: ${maxCounter} in row ${index}`);\n    }\n});\n\nconsole.log(`Final max counter: ${maxCounter}`);\n\n// Increment counter\nconst newCounter = maxCounter + 1;\nconsole.log(`New counter value: ${newCounter}`);\n\n// Format for Google Sheets append (ONLY counter and timestamp)\nconst updateData = {\n    counter: newCounter.toString(),\n    lastUpdate: new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' })\n};\n\nconsole.log('Update data:', JSON.stringify(updateData, null, 2));\n\nreturn { json: updateData };"
            },
            "id": "6300155e-97b3-403b-9922-558eb6262d51",
            "name": "Update Counter Value",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8560,
                8656
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=0"
                },
                "options": {}
            },
            "id": "84b29f5d-de50-4fd8-a169-5401414f7640",
            "name": "Read Current Counter",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8336,
                8656
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Validate counter request\nconst webhookData = $input.first().json;\n\nconsole.log('=== COUNTER WEBHOOK ===');\nconsole.log('Raw webhook data:', JSON.stringify(webhookData, null, 2));\n\n// Extract body from webhook data\nconst data = webhookData.body || webhookData;\n\nconsole.log('Body data:', JSON.stringify(data, null, 2));\n\n// Validate required fields\nif (!data.type) {\n    throw new Error('Missing required field: type');\n}\n\nif (data.type !== 'user_counter') {\n    throw new Error('Invalid type: expected user_counter');\n}\n\nconsole.log('✅ Counter data validation passed');\nconsole.log('Event type:', data.type);\n\n// Format data for processing\nconst formattedData = {\n    type: data.type,\n    path: data.path || '/',\n    client: data.client || '',\n    version: data.version || '0.5.0',\n    timestamp: data.timestamp || new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' }),\n    language: data.language || 'en',\n    referrer: data.referrer || 'direct',\n    screen: data.screen || '',\n    data: data.data || ''\n};\n\nconsole.log('Formatted data for processing:', JSON.stringify(formattedData, null, 2));\n\nreturn { json: formattedData };"
            },
            "id": "6b4b4f4e-66f8-478d-b267-e06db440835a",
            "name": "Validate Counter Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7872,
                8656
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-counter",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            }
                        ]
                    }
                }
            },
            "id": "503c5084-465b-47cb-8ba0-39ad346e0ab9",
            "name": "Counter Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7664,
                8656
            ],
            "webhookId": "counter-webhook"
        },
        {
            "parameters": {
                "content": "## Analytics\n",
                "height": 656,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                8240
            ],
            "id": "eb704ea9-3c9f-4586-a239-1956a85fda94",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Account Management\n",
                "height": 832,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                8992
            ],
            "id": "e04143e6-b064-40a1-afaf-86c6a8001b82",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1209026324,
                    "mode": "list",
                    "cachedResultName": "audit_log",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1209026324"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Event",
                            "displayName": "Event",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Timestamp",
                            "displayName": "Timestamp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "UserId",
                            "displayName": "UserId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Email\t",
                            "displayName": "Email\t",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "ClientFingerprint\t",
                            "displayName": "ClientFingerprint\t",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "SessionId",
                            "displayName": "SessionId",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Tier",
                            "displayName": "Tier",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Action",
                            "displayName": "Action",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Workflow",
                            "displayName": "Workflow",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "1b323fbd-fd17-482f-b421-24134b6ef00d",
            "name": "Save Audit Log1",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                10368,
                9328
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Success Response\nconst auditData = $input.first().json;\n\nconsole.log('=== AUDIT LOG SUCCESS ===');\nconsole.log('Audit data:', JSON.stringify(auditData, null, 2));\n\nconst successResponse = {\n  success: true,\n  message: 'Audit log entry created successfully',\n  event: auditData.event,\n  timestamp: auditData.timestamp,\n  auditId: auditData.timestamp\n};\n\nconsole.log('Success response:', JSON.stringify(successResponse, null, 2));\n\nreturn { json: successResponse };"
            },
            "id": "38273de7-8c35-4eac-8717-439beeaceb76",
            "name": "Audit Success Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                10592,
                9328
            ]
        },
        {
            "parameters": {
                "jsCode": "// Accounting Audit Log Processing\nconst webhookData = $input.first().json;\n\nconsole.log('=== ACCOUNTING AUDIT LOG ===');\nconsole.log('Raw webhook data:', JSON.stringify(webhookData, null, 2));\n\n// Extract body from webhook data\nconst data = webhookData.body || webhookData;\n\nconsole.log('=== AUDIT LOG DATA ===');\nconsole.log('Event:', data?.event);\nconsole.log('UserId:', data?.userId);\nconsole.log('Email:', data?.email);\nconsole.log('Client Fingerprint:', data?.clientFingerprint);\nconsole.log('Session ID:', data?.sessionId);\nconsole.log('Timestamp:', data?.timestamp);\nconsole.log('Details:', data?.details);\n\n// Validate audit log data\nif (!data?.event) {\n  console.log('❌ Missing event field');\n  throw new Error('Missing required field: event');\n}\n\nif (!data?.timestamp) {\n  console.log('❌ Missing timestamp field');\n  throw new Error('Missing required field: timestamp');\n}\n\n// Sanitize and prepare audit log data\nconst auditLogData = {\n  event: data.event,\n  timestamp: data.timestamp,\n  userId: data.userId || 'anonymous',\n  email: data.email || '',\n  clientFingerprint: data.clientFingerprint || '',\n  sessionId: data.sessionId || '',\n  details: data.details || {},\n  accountingEvent: data.accountingEvent || false,\n  sessionId: data.sessionId || '',\n  tier: data.tier || 'free',\n  action: data.action || data.event,\n  workflow: 'accounting_audit_log'\n};\n\nconsole.log('✅ Audit log data validation passed');\nconsole.log('Sanitized audit log data:', JSON.stringify(auditLogData, null, 2));\n\nreturn { json: auditLogData };"
            },
            "id": "617124fa-ae69-403f-bf2b-945414f7ee47",
            "name": "Audit Log Processing",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                10144,
                9328
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-accounting-audit-log",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin, Accept"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS, GET"
                            },
                            {
                                "name": "Access-Control-Allow-Credentials",
                                "value": "true"
                            }
                        ]
                    }
                }
            },
            "id": "b68d55cc-0855-490d-8eb1-74a041988f4f",
            "name": "Accounting Audit Log",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                9920,
                9328
            ],
            "webhookId": "accounting-audit-log"
        },
        {
            "parameters": {
                "content": "## Accounting Audit Log Workflow\n\nSichere Audit-Logging für alle Accounting-Operationen mit:\n- Security-Logging\n- Rate-Limiting\n- Client-Fingerprinting\n- Audit-Trail",
                "height": 688,
                "width": 1312
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                9856,
                9136
            ],
            "id": "a9dccf6c-2b00-40d3-b60c-0518dd7eaa96",
            "name": "Audit Log Note"
        },
        {
            "parameters": {
                "content": "## LIVE Counter (old)\n\n\n",
                "height": 352,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                7808
            ],
            "id": "d6979822-9200-4b86-b5d6-d7a4e2f7335a",
            "name": "Sticky Note7"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Visit tracked\",\n  \"counter\": {{ $json.counter }},\n  \"stats\": {\n    \"totalVisits\": {{ $json.counter }},\n    \"previousCounter\": {{ $json.stats?.previousCounter || ($json.counter - 1) }}\n  }\n}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                9264,
                7936
            ],
            "id": "26d84461-f51b-4ede-b2cb-590746a78401",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {
                        "date": "={{ $json.sheetData.date }}",
                        "time": "={{ $json.sheetData.time }}",
                        "browser": "={{ $json.sheetData.browser }}",
                        "language": "={{ $json.sheetData.language }}",
                        "version": "={{ $json.sheetData.version }}",
                        "screen": "={{ $json.sheetData.screen }}",
                        "referrer": "={{ $json.sheetData.referrer }}",
                        "counter": "={{ $json.sheetData.counter }}",
                        "timestamp": "={{ $json.sheetData.timestamp }}",
                        "path": "={{ $json.sheetData.path }}",
                        "client": "={{ $json.sheetData.client }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "counter",
                            "displayName": "counter",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "timestamp",
                            "displayName": "timestamp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "date",
                            "displayName": "date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "time",
                            "displayName": "time",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "client",
                            "displayName": "client",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "browser",
                            "displayName": "browser",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "path",
                            "displayName": "path",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "language",
                            "displayName": "language",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "version",
                            "displayName": "version",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "screen",
                            "displayName": "screen",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "referrer",
                            "displayName": "referrer",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "lastupdated",
                            "displayName": "lastupdated",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "dailyvisits",
                            "displayName": "dailyvisits",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "weeklyvisits",
                            "displayName": "weeklyvisits",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "monthlyvisits",
                            "displayName": "monthlyvisits",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                8464,
                7936
            ],
            "id": "64466b60-e837-4509-887f-faa252e14d13",
            "name": "Append row in sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                7856,
                7936
            ],
            "id": "f135cdca-c16c-4257-9a52-57c2a3a9c307",
            "name": "Get All Rows",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-userCounter",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Origin"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                7664,
                7936
            ],
            "id": "c6b9de80-4c0a-4abe-8c17-fc2f39f4f305",
            "name": "GETCounter",
            "webhookId": "dee6669d-ef38-4792-a21d-ac64eac3d132"
        },
        {
            "parameters": {
                "jsCode": "// Finde den höchsten Counter\nconst items = $input.all();\nlet maxCounter = 0;\n\n// Gehe durch alle Zeilen\nitems.forEach(item => {\n  const counter = parseInt(item.json.counter) || 0;\n  if (counter > maxCounter) {\n    maxCounter = counter;\n  }\n});\n\nconsole.log(`Found max counter: ${maxCounter} from ${items.length} rows`);\n\n// Return für nächsten Node\nreturn [{\n  json: {\n    lastCounter: maxCounter,\n    totalRows: items.length\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8064,
                7936
            ],
            "id": "bc218ca2-6c9d-4fd3-9e5d-b17ed339338c",
            "name": "Find Max Counter1"
        },
        {
            "parameters": {
                "jsCode": "// OPTIMIERTER Code Node für n8n\n// ===== COUNTER PROCESSING MIT VOLLSTÄNDIGEN DATEN =====\n\n// Hole Counter aus Google Sheets\nconst previousNodeData = $input.all()[0].json;\nconst lastCounter = previousNodeData.lastCounter || 0;\n\n// Hole Webhook-Daten\nconst webhookData = $node[\"GETCounter\"].json;\nconst body = webhookData.body || {};\nconst headers = webhookData.headers || {};\n\n// Neuer Counter\nconst newCounter = lastCounter + 1;\n\n// Parse User Agent für Browser-Info\nfunction getBrowserInfo(userAgent) {\n  if (!userAgent) return 'Unknown';\n  \n  if (userAgent.includes('Chrome')) return 'Chrome';\n  if (userAgent.includes('Firefox')) return 'Firefox';\n  if (userAgent.includes('Safari') && !userAgent.includes('Chrome')) return 'Safari';\n  if (userAgent.includes('Edge')) return 'Edge';\n  if (userAgent.includes('curl')) return 'API/curl';\n  \n  return 'Other';\n}\n\n// Erstelle Sheet-Daten mit allen Infos\nconst sheetData = {\n  counter: newCounter,\n  timestamp: new Date().toISOString(),\n  date: new Date().toISOString().split('T')[0],\n  time: new Date().toISOString().split('T')[1].split('.')[0],\n  \n  // Client Info\n  client: headers['x-forwarded-for'] || 'unknown',\n  browser: getBrowserInfo(body.client),\n  userAgent: body.client || headers['user-agent'] || 'unknown',\n  \n  // Page Info\n  path: body.path || 'unknown',\n  language: body.language || 'unknown',\n  version: body.version || 'unknown',\n  env: body.env || 'production',\n  \n  // Additional\n  screen: body.screen || 'unknown',\n  referrer: body.referrer || 'direct'\n};\n\nconsole.log(`Counter: ${lastCounter} -> ${newCounter}`);\nconsole.log('Sheet data:', sheetData);\n\nreturn [{\n  json: {\n    counter: newCounter,\n    sheetData: sheetData,\n    stats: {\n      totalVisits: newCounter,\n      previousCounter: lastCounter,\n      browser: sheetData.browser\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8240,
                7936
            ],
            "id": "0b79ad74-2288-4b6e-bf57-8e256a4c8728",
            "name": "Process Counter"
        },
        {
            "parameters": {
                "resource": "customer",
                "operation": "create",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.stripe",
            "typeVersion": 1,
            "position": [
                8320,
                10032
            ],
            "id": "e25413a9-34fb-49fd-9997-017fb152c2a6",
            "name": "Create a customer",
            "credentials": {
                "stripeApi": {
                    "id": "rceyvGDH5jeuyFay",
                    "name": "Stripe account"
                }
            },
            "disabled": true
        },
        {
            "parameters": {
                "content": "## Email Notifiactions\n",
                "height": 560,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                12608
            ],
            "id": "9db10b9d-052f-4079-8664-1cd3b7d3c7a6",
            "name": "Sticky Note6"
        },
        {
            "parameters": {
                "jsCode": "// Validate input data\nconst data = $input.first().json;\n\n// Check required fields\nif (!data.action || !data.email) {\n  throw new Error('Missing required fields: action, email');\n}\n\n// Validate action\nconst validActions = ['send'];\nif (!validActions.includes(data.action)) {\n  throw new Error('Invalid action. Must be: send');\n}\n\n// Validate template\nconst validTemplates = ['welcome', 'subscription', 'payment', 'support'];\nif (!validTemplates.includes(data.template)) {\n  throw new Error('Invalid template. Must be one of: welcome, subscription, payment, support');\n}\n\n// Sanitize data\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId || '',\n  email: data.email,\n  template: data.template,\n  data: data.data || {}\n};\n\nreturn { json: sanitizedData };"
            },
            "id": "4a9d8649-6a7b-4b74-9f0f-4d2a55c89274",
            "name": "Validate Data6",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7856,
                12784
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"messageId\": \"{{ $json.messageId || 'sent' }}\",\n  \"sentAt\": \"{{ new Date().toISOString() }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"template\": \"{{ $json.template }}\"\n}",
                "options": {}
            },
            "id": "944f370f-f14b-4fde-9ff9-b5986003ab96",
            "name": "Email Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8752,
                12784
            ]
        },
        {
            "parameters": {
                "jsCode": "// Support email template\nconst data = $input.first().json;\n\nconst emailData = {\n  to: data.email,\n  subject: 'Support Request Received - Keymoji 🆘',\n  html: `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h1 style=\"color: #f59e0b;\">Support Request Received</h1>\n      <p>Hi there! 📧</p>\n      <p>We've received your support request and will get back to you soon.</p>\n      <p>Request Details:</p>\n      <ul>\n        <li>Subject: {{ data.data.subject || 'Support Request' }}</li>\n        <li>Priority: {{ data.data.priority || 'Normal' }}</li>\n        <li>Ticket ID: {{ data.data.ticketId || 'N/A' }}</li>\n      </ul>\n      <p>We typically respond within 24 hours.</p>\n      <p>Thank you for your patience!</p>\n      <p>Best regards,<br>The Keymoji Support Team</p>\n    </div>\n  `,\n  text: `Support request received. We'll get back to you within 24 hours.`\n};\n\nreturn { json: emailData };"
            },
            "id": "9dd95c80-d313-4e8b-bcd1-5866090520b8",
            "name": "Support Template",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8304,
                12976
            ]
        },
        {
            "parameters": {
                "jsCode": "// Payment email template\nconst data = $input.first().json;\n\nconst emailData = {\n  to: data.email,\n  subject: 'Payment Received - Keymoji Pro 💳',\n  html: `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h1 style=\"color: #f59e0b;\">Payment Confirmed!</h1>\n      <p>Hi there! ✅</p>\n      <p>We've received your payment for Keymoji Pro.</p>\n      <p>Payment Details:</p>\n      <ul>\n        <li>Amount: ${{ data.data.amount || '9.99' }}</li>\n        <li>Plan: Keymoji Pro</li>\n        <li>Date: {{ new Date().toLocaleDateString() }}</li>\n      </ul>\n      <p>Your subscription is now active!</p>\n      <a href=\"https://keymoji.wtf\" style=\"background: #f59e0b; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">Access Pro Features</a>\n      <p>Best regards,<br>The Keymoji Team</p>\n    </div>\n  `,\n  text: `Payment confirmed for Keymoji Pro. Your subscription is now active!`\n};\n\nreturn { json: emailData };"
            },
            "id": "0a21f46c-7898-44b9-90c9-a93be40c9aa8",
            "name": "Payment Template",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8304,
                12880
            ]
        },
        {
            "parameters": {
                "jsCode": "// Subscription email template\nconst data = $input.first().json;\n\nconst emailData = {\n  to: data.email,\n  subject: 'Your Keymoji Subscription is Active! ⭐',\n  html: `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h1 style=\"color: #f59e0b;\">Subscription Activated!</h1>\n      <p>Hi there! 🎉</p>\n      <p>Your Keymoji Pro subscription is now active!</p>\n      <p>You now have access to:</p>\n      <ul>\n        <li>Unlimited emoji generation</li>\n        <li>Advanced analytics</li>\n        <li>Story mode (coming soon)</li>\n        <li>Priority support</li>\n      </ul>\n      <p>Thank you for supporting Keymoji!</p>\n      <a href=\"https://keymoji.wtf\" style=\"background: #f59e0b; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">Start Using Pro Features</a>\n      <p>Best regards,<br>The Keymoji Team</p>\n    </div>\n  `,\n  text: `Your Keymoji Pro subscription is now active! Enjoy unlimited emoji generation and advanced features.`\n};\n\nreturn { json: emailData };"
            },
            "id": "18f63bc1-87f5-48a7-84a5-27b7b07fe2ae",
            "name": "Subscription Template",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8304,
                12784
            ]
        },
        {
            "parameters": {
                "jsCode": "// Welcome email template\nconst data = $input.first().json;\n\nconst emailData = {\n  to: data.email,\n  subject: 'Welcome to Keymoji! 🎉',\n  html: `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <h1 style=\"color: #f59e0b;\">Welcome to Keymoji!</h1>\n      <p>Hi there! 👋</p>\n      <p>Thank you for joining Keymoji - the fun and secure emoji password generator!</p>\n      <p>With Keymoji, you can:</p>\n      <ul>\n        <li>Generate secure emoji passwords</li>\n        <li>Create memorable passphrases</li>\n        <li>Stay safe online with unique combinations</li>\n      </ul>\n      <p>Start generating your first emoji password now!</p>\n      <a href=\"https://keymoji.wtf\" style=\"background: #f59e0b; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">Get Started</a>\n      <p>Best regards,<br>The Keymoji Team</p>\n    </div>\n  `,\n  text: `Welcome to Keymoji! Thank you for joining us. Start generating secure emoji passwords at https://keymoji.wtf`\n};\n\nreturn { json: emailData };"
            },
            "id": "78b6a6f2-9746-4801-bf8d-691d6c514271",
            "name": "Welcome Template",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8304,
                12672
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "template-check",
                            "leftValue": "={{ $json.template }}",
                            "rightValue": "welcome",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "199e5bd8-5ab7-431a-a954-24448552baf7",
            "name": "Route by Template",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                8096,
                12784
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-notifications",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "017c3f99-2db6-43fe-ab42-88c7395a2f36",
            "name": "Email Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7648,
                12784
            ],
            "webhookId": "email-webhook",
            "disabled": true
        },
        {
            "parameters": {
                "content": "## Ab Testing\n\n",
                "height": 560,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                11952
            ],
            "id": "2306bffa-1675-4c3d-a638-27c4d95c5cb2",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "action-check",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "assign",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "b1ce4d9a-4398-4ca4-a134-edf8fad027d1",
            "name": "Route by Action4",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                8336,
                12160
            ]
        },
        {
            "parameters": {
                "jsCode": "// Validate input data\nconst data = $input.first().json;\n\n// Check required fields\nif (!data.action || !data.userId || !data.testName) {\n  throw new Error('Missing required fields: action, userId, testName');\n}\n\n// Validate action\nconst validActions = ['assign', 'track', 'get_results'];\nif (!validActions.includes(data.action)) {\n  throw new Error('Invalid action. Must be one of: assign, track, get_results');\n}\n\n// Sanitize data\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId,\n  testName: data.testName,\n  variant: data.variant || '',\n  conversion: data.conversion || false,\n  event: data.event || ''\n};\n\nreturn { json: sanitizedData };"
            },
            "id": "425e1545-0b90-41ad-9c3c-691d19cc343c",
            "name": "Validate Data5",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7888,
                12160
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"test\": {\n    \"name\": \"{{ $json.testName }}\",\n    \"results\": {{ $json.results }}\n  },\n  \"message\": \"A/B test results retrieved\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "b8354235-a678-4d72-9f8e-7e9428f21a3c",
            "name": "Results Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8992,
                12256
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"test\": {\n    \"name\": \"{{ $json.testName }}\",\n    \"variant\": \"{{ $json.variant }}\",\n    \"assignedAt\": \"{{ $json.assignedAt }}\"\n  },\n  \"message\": \"Variant assigned successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "8dc8047f-de95-4362-b4d5-06d5f568370d",
            "name": "Assign Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8992,
                12048
            ]
        },
        {
            "parameters": {
                "jsCode": "// Get A/B test results\nconst data = $input.first().json;\nconst abTests = $input.all();\nconst testName = data.testName;\n\n// Filter tests for this test name\nconst testResults = abTests.filter(test => test.testName === testName);\n\n// Calculate results by variant\nconst results = {\n  A: { participants: 0, conversions: 0, conversionRate: 0 },\n  B: { participants: 0, conversions: 0, conversionRate: 0 }\n};\n\n// Aggregate results\nfor (const test of testResults) {\n  const variant = test.variant;\n  results[variant].participants++;\n  if (test.conversion) {\n    results[variant].conversions++;\n  }\n}\n\n// Calculate conversion rates\nfor (const variant in results) {\n  if (results[variant].participants > 0) {\n    results[variant].conversionRate = \n      (results[variant].conversions / results[variant].participants) * 100;\n  }\n}\n\nreturn { json: { testName, results } };"
            },
            "id": "e81930c1-e8bf-44de-a12e-60ed033e50d5",
            "name": "Calculate Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8768,
                12256
            ]
        },
        {
            "parameters": {
                "jsCode": "// Track A/B test event\nconst data = $input.first().json;\nconst abTests = $input.all();\nconst userId = data.userId;\nconst testName = data.testName;\nconst event = data.event;\nconst conversion = data.conversion;\n\n// Find user's test\nconst userTest = abTests.find(test => \n  test.userId === userId && test.testName === testName\n);\n\nif (!userTest) {\n  throw new Error('A/B test not found for user');\n}\n\n// Update test with event\nconst updatedTest = {\n  ...userTest,\n  conversion: userTest.conversion || conversion,\n  events: [...(userTest.events || []), {\n    event,\n    conversion,\n    timestamp: new Date().toISOString()\n  }]\n};\n\nreturn { json: updatedTest };"
            },
            "id": "fcb3300a-171e-41fb-9dcf-074c75cbc105",
            "name": "Track Event",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8544,
                12256
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1295571492,
                    "mode": "list",
                    "cachedResultName": "abtests",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1295571492"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "34ee7208-fc9d-4a3b-910a-b63818c4271c",
            "name": "Save Assignment",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8768,
                12048
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Assign A/B test variant\nconst data = $input.first().json;\nconst abTests = $input.all();\nconst userId = data.userId;\nconst testName = data.testName;\n\n// Check if user already has a variant for this test\nconst existingTest = abTests.find(test => \n  test.userId === userId && test.testName === testName\n);\n\nif (existingTest) {\n  // User already has a variant\n  return { json: { userId, testName, variant: existingTest.variant } };\n}\n\n// Assign new variant (A or B)\nconst variant = Math.random() < 0.5 ? 'A' : 'B';\n\n// Create new test assignment\nconst newTest = {\n  userId,\n  testName,\n  variant,\n  assignedAt: new Date().toISOString(),\n  conversion: false,\n  events: []\n};\n\nreturn { json: newTest };"
            },
            "id": "89d2ffd3-d139-4d9d-8807-f7e4ac076f5d",
            "name": "Assign Variant",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8544,
                12048
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1295571492,
                    "mode": "list",
                    "cachedResultName": "abtests",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1295571492"
                },
                "options": {}
            },
            "id": "da9ec25e-e3b8-4719-b191-cb0023574530",
            "name": "Read A/B Tests",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8112,
                12160
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-abtest",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "6ef8cd5c-cb80-427e-9069-b81726a79fcb",
            "name": "A/B Test Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7664,
                12160
            ],
            "webhookId": "ab-test-webhook",
            "disabled": true
        },
        {
            "parameters": {
                "content": "## Usage Tracking\n\n",
                "height": 560,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                11296
            ],
            "id": "3f6135b5-80c8-4ce1-b1dc-e3d48038bc04",
            "name": "Sticky Note4"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "action-check",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "track",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "f8142d9b-b95d-464c-9c73-758ec0004c22",
            "name": "Route by Action3",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                8576,
                11440
            ]
        },
        {
            "parameters": {
                "jsCode": "// Validate input data\nconst data = $input.first().json;\n\n// Check required fields\nif (!data.action || !data.userId) {\n  throw new Error('Missing required fields: action, userId');\n}\n\n// Validate action\nconst validActions = ['track', 'get', 'reset'];\nif (!validActions.includes(data.action)) {\n  throw new Error('Invalid action. Must be one of: track, get, reset');\n}\n\n// Sanitize data\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId,\n  feature: data.feature || 'emoji_generation',\n  usage: parseInt(data.usage) || 1,\n  period: data.period || 'daily'\n};\n\nreturn { json: sanitizedData };"
            },
            "id": "ec4c1a0b-7dc3-4bee-ac41-5304f877a42c",
            "name": "Validate Data4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7904,
                11440
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"usage\": {\n    \"current\": {{ $json.currentUsage }},\n    \"limit\": {{ $json.limit }},\n    \"remaining\": {{ $json.limit - $json.currentUsage }},\n    \"resetDate\": \"{{ new Date(Date.now() + 24*60*60*1000).toISOString() }}\"\n  },\n  \"message\": \"Usage retrieved successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "1a9ba491-f20d-49ad-baf8-8101feb96c0e",
            "name": "Get Usage Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8576,
                11696
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"usage\": {\n    \"current\": {{ $json.usage }},\n    \"limit\": {{ $json.limit }},\n    \"remaining\": {{ $json.limit - $json.usage }},\n    \"resetDate\": \"{{ new Date(Date.now() + 24*60*60*1000).toISOString() }}\"\n  },\n  \"limitExceeded\": {{ $json.limitExceeded }},\n  \"message\": \"Usage tracked successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "4ee2c760-5550-4b0f-bf40-26bf6199b5f3",
            "name": "Track Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9232,
                11328
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 834587958,
                    "mode": "list",
                    "cachedResultName": "usage",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=834587958"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "233ae293-79d8-4350-9d63-c10979ed3c2a",
            "name": "Save Usage",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                9008,
                11328
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Track usage\nconst data = $input.first().json;\nconst usage = data.usage;\nconst currentUsage = data.currentUsage;\nconst newUsage = currentUsage + usage;\n\n// Check if limit exceeded\nconst limitExceeded = newUsage > data.limit;\n\n// Update usage data\nconst updatedUsage = {\n  userId: data.userId,\n  feature: data.feature,\n  period: data.period,\n  tier: data.tier,\n  usage: newUsage,\n  limit: data.limit,\n  lastUpdated: new Date().toISOString()\n};\n\nreturn { json: { ...updatedUsage, limitExceeded } };"
            },
            "id": "cb7c3d53-8887-4dc8-85be-37ace0dcde59",
            "name": "Track Usage",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8784,
                11328
            ]
        },
        {
            "parameters": {
                "jsCode": "// Process usage data\nconst data = $input.first().json;\nconst usageData = $input.all();\nconst userId = data.userId;\nconst feature = data.feature;\nconst period = data.period;\n\n// Find user's usage for this feature and period\nconst userUsage = usageData.find(u => \n  u.userId === userId && \n  u.feature === feature && \n  u.period === period\n);\n\n// Default limits based on feature\nconst limits = {\n  emoji_generation: { free: 10, pro: 100, experimental: 1000 },\n  story_generation: { free: 3, pro: 50, experimental: 500 },\n  analytics: { free: 5, pro: 100, experimental: 1000 }\n};\n\n// Get user tier (default to free)\nconst tier = userUsage?.tier || 'free';\nconst limit = limits[feature]?.[tier] || 10;\n\nreturn { json: { userId, feature, period, tier, limit, currentUsage: userUsage?.usage || 0 } };"
            },
            "id": "c4928aee-bb3b-4985-b27a-297c8fedec98",
            "name": "Process Usage",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8352,
                11440
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 834587958,
                    "mode": "list",
                    "cachedResultName": "usage",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=834587958"
                },
                "options": {}
            },
            "id": "70995e74-fc2f-41f9-abd7-49036bcb5a18",
            "name": "Read Usage Data",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8128,
                11440
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-usage",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "b766eea5-a2c1-47e1-a067-58f5d1cc5f6d",
            "name": "Usage Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7680,
                11440
            ],
            "webhookId": "usage-webhook",
            "disabled": true
        },
        {
            "parameters": {
                "content": "## Feature Flags\n",
                "height": 672,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                10528
            ],
            "id": "39f112ff-28ad-44bc-851d-a9471124f093",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "action-check",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "update_flags",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "7662589d-0cbc-4197-b677-8f0a088c4a6c",
            "name": "Route by Action2",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                8576,
                10752
            ]
        },
        {
            "parameters": {
                "jsCode": "// Validate input data\nconst data = $input.first().json;\n\n// Check required fields\nif (!data.action || !data.userId) {\n  throw new Error('Missing required fields: action, userId');\n}\n\n// Validate action\nconst validActions = ['get_flags', 'update_flags'];\nif (!validActions.includes(data.action)) {\n  throw new Error('Invalid action. Must be one of: get_flags, update_flags');\n}\n\n// Sanitize data\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId,\n  tier: data.tier || 'free',\n  features: data.features || {}\n};\n\nreturn { json: sanitizedData };"
            },
            "id": "ce569673-2091-456b-aa62-c42d3d3fac39",
            "name": "Validate Data3",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7904,
                10752
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"features\": {{ $json.features }},\n  \"tier\": \"{{ $json.tier }}\",\n  \"message\": \"Feature flags updated successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "1a4e4bb6-177d-4766-bb57-537e1ba66cb2",
            "name": "Update Features Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9232,
                10640
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"features\": {{ $json.features }},\n  \"tier\": \"{{ $json.tier }}\",\n  \"message\": \"Feature flags retrieved successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "d58b4bc5-9c2d-4a74-8323-81c7f7229d2a",
            "name": "Get Features Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8576,
                10992
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1412122533,
                    "mode": "list",
                    "cachedResultName": "features",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1412122533"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "65f0580d-c40e-4739-ad44-8ec539948fe2",
            "name": "Save Feature Flags",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                9008,
                10640
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Update feature flags\nconst data = $input.first().json;\nconst updates = data.features;\n\n// Merge with existing flags\nconst updatedFlags = {\n  ...data.features,\n  ...updates,\n  updatedAt: new Date().toISOString()\n};\n\nreturn { json: { userId: data.userId, tier: data.tier, features: updatedFlags } };"
            },
            "id": "d78d896a-ac72-4a48-a791-a76f5b188275",
            "name": "Update Feature Flags",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8784,
                10640
            ]
        },
        {
            "parameters": {
                "jsCode": "// Get user's feature flags\nconst data = $input.first().json;\nconst features = $input.all();\nconst userId = data.userId;\nconst tier = data.tier;\n\n// Find user's feature flags\nconst userFeatures = features.find(f => f.userId === userId);\n\n// Default feature flags based on tier\nconst defaultFlags = {\n  free: {\n    STORY_MODE: false,\n    ADVANCED_ANALYTICS: false,\n    NO_DAILY_LIMIT: false,\n    CUSTOM_EMOJIS: false,\n    EXPORT_HISTORY: false,\n    PRIORITY_SUPPORT: false\n  },\n  pro: {\n    STORY_MODE: true,\n    ADVANCED_ANALYTICS: true,\n    NO_DAILY_LIMIT: true,\n    CUSTOM_EMOJIS: false,\n    EXPORT_HISTORY: true,\n    PRIORITY_SUPPORT: false\n  },\n  experimental: {\n    STORY_MODE: true,\n    ADVANCED_ANALYTICS: true,\n    NO_DAILY_LIMIT: true,\n    CUSTOM_EMOJIS: true,\n    EXPORT_HISTORY: true,\n    PRIORITY_SUPPORT: true\n  }\n};\n\n// Return user's flags or default based on tier\nconst flags = userFeatures?.featureFlags || defaultFlags[tier] || defaultFlags.free;\n\nreturn { json: { userId, tier, features: flags } };"
            },
            "id": "41a9309b-e999-4278-8345-430ea3db2912",
            "name": "Process Feature Flags",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8352,
                10752
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1412122533,
                    "mode": "list",
                    "cachedResultName": "features",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1412122533"
                },
                "options": {}
            },
            "id": "009b5aa3-0f9e-49bf-8c34-9cea25de9f85",
            "name": "Read Feature Flags",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8128,
                10752
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-features",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "56817a8f-f07f-46d2-bc00-48a2dff85306",
            "name": "Feature Flags Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7680,
                10752
            ],
            "webhookId": "feature-flags-webhook",
            "disabled": true
        },
        {
            "parameters": {
                "content": "## Subscription Management\n\n",
                "height": 496,
                "width": 1888
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                7584,
                9936
            ],
            "id": "279f5529-7cee-488c-8887-f236c8e59ba6",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"subscription\": {\n    \"id\": \"{{ $json.subscriptionId }}\",\n    \"status\": \"{{ $json.status }}\",\n    \"plan\": \"{{ $json.plan }}\",\n    \"currentPeriodEnd\": \"{{ $json.currentPeriodEnd }}\",\n    \"cancelAtPeriodEnd\": {{ $json.cancelAtPeriodEnd }}\n  },\n  \"message\": \"Subscription retrieved successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "e97e01b5-7100-4c46-b80e-1de486d36f0b",
            "name": "Get Response1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8992,
                10240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "action-check",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "create",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "3a274e20-64e0-4bdb-9610-74cae1f57a80",
            "name": "Route by Action1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                8112,
                10144
            ]
        },
        {
            "parameters": {
                "jsCode": "// Validate input data\nconst data = $input.first().json;\n\n// Check required fields\nif (!data.action || !data.userId) {\n  throw new Error('Missing required fields: action, userId');\n}\n\n// Validate action\nconst validActions = ['create', 'cancel', 'update', 'get'];\nif (!validActions.includes(data.action)) {\n  throw new Error('Invalid action. Must be one of: create, cancel, update, get');\n}\n\n// Sanitize data\nconst sanitizedData = {\n  action: data.action,\n  userId: data.userId,\n  stripeCustomerId: data.stripeCustomerId || '',\n  subscriptionId: data.subscriptionId || '',\n  plan: data.plan || 'pro',\n  paymentMethod: data.paymentMethod || ''\n};\n\nreturn { json: sanitizedData };"
            },
            "id": "71a6f539-9061-4214-b891-3a7a57d735b8",
            "name": "Validate Data2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7872,
                10144
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"subscription\": {\n    \"id\": \"{{ $json.id }}\",\n    \"status\": \"canceled\",\n    \"plan\": \"{{ $json.plan }}\",\n    \"cancelAtPeriodEnd\": true\n  },\n  \"message\": \"Subscription canceled successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "83fc2b30-c9c2-4f1a-aeee-2ee303b5181d",
            "name": "Cancel Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8992,
                10240
            ]
        },
        {
            "parameters": {},
            "id": "9719d1c6-e3b7-44a2-bbc0-57bb38818fed",
            "name": "Cancel Stripe Subscription",
            "type": "n8n-nodes-base.stripe",
            "typeVersion": 2,
            "position": [
                8768,
                10240
            ]
        },
        {
            "parameters": {
                "jsCode": "// Find subscription by userId\nconst data = $input.first().json;\nconst subscriptions = $input.all();\nconst userId = data.userId;\n\n// Find subscription\nconst subscription = subscriptions.find(sub => sub.userId === userId);\n\nif (!subscription) {\n  throw new Error('Subscription not found');\n}\n\nreturn { json: subscription };"
            },
            "id": "c70e08c2-4ff2-42dd-b681-adbcd6878d45",
            "name": "Find Subscription",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8544,
                10240
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1115491905,
                    "mode": "list",
                    "cachedResultName": "subscriptions",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1115491905"
                },
                "options": {}
            },
            "id": "f01e983b-e55c-4c5e-811e-1609e64dd43b",
            "name": "Read Subscriptions",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8320,
                10240
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji-counter",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1115491905,
                    "mode": "list",
                    "cachedResultName": "subscriptions",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs/edit#gid=1115491905"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "15dcd527-c8e0-46b1-b4d2-8b4be91b65ce",
            "name": "Save Subscription",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                8768,
                10032
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {},
            "id": "a0154a30-166e-4fea-943f-fa6a523a9330",
            "name": "Create Stripe Subscription",
            "type": "n8n-nodes-base.stripe",
            "typeVersion": 2,
            "position": [
                8544,
                10032
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-subscription",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "f382ade2-c86f-451c-b28b-2beb846ae8ea",
            "name": "Subscription Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                7664,
                10144
            ],
            "webhookId": "subscription-webhook",
            "disabled": true
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "xn--moji-pb73c-account",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "d5048e41-b6af-4073-9b43-78f12495f314",
            "name": "Account Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                7648,
                9280
            ],
            "webhookId": "keymoji-account-webhook"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst data = input.body || input;\nconsole.log('📥 Webhook received action:', data.action);\nreturn { json: data };"
            },
            "id": "f9b1ef0e-85a4-4eba-aa08-85cae1b3a9bb",
            "name": "Extract Body",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7856,
                9280
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "otp_sent",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "otp_sent"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "otp_resent",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "otp_resent"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "verify_otp",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "verify_otp"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra",
                    "renameFallbackOutput": "account_upsert"
                }
            },
            "id": "37ec73ca-57c5-4619-86ef-04691ce44969",
            "name": "Action Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                8048,
                9248
            ]
        },
        {
            "parameters": {
                "jsCode": "// Store OTP: save otpCode + otpExpiresAt for this email\nconst data = $input.first().json;\nconsole.log('💾 Storing OTP for:', data.email);\nreturn {\n  json: {\n    email: data.email,\n    otpCode: String(data.otpCode),\n    otpExpiresAt: data.otpExpiresAt,\n    otpCreatedAt: new Date().toISOString()\n  }\n};"
            },
            "id": "aacc04f8-654d-415e-98f4-a15ead41d53d",
            "name": "Prepare OTP Store",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8272,
                9040
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "accounts",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "email": "={{ $json.email }}",
                        "otp_code": "={{ $json.otpCode }}",
                        "otp_expires_at": "={{ $json.otpExpiresAt }}",
                        "otp_created_at": "={{ $json.otpCreatedAt }}"
                    },
                    "matchingColumns": [
                        "email"
                    ]
                },
                "options": {}
            },
            "id": "50bd8353-80cf-4be7-868b-414ad5058dfb",
            "name": "Store OTP in Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                8864,
                9024
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"OTP stored\" } }}",
                "options": {}
            },
            "id": "788075b6-1a3f-4af4-90fa-a3b0b6cf3a54",
            "name": "Respond OTP Stored",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9280,
                9040
            ]
        },
        {
            "parameters": {
                "operation": "search",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                }
            },
            "id": "92c27158-b813-46b9-bbef-1f02e1e1919e",
            "name": "Lookup OTP Row",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                8272,
                9280
            ],
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Validate OTP: compare code + check expiry\nconst sheetRow = $input.first().json;\n\n// Get original request from Extract Body (stable, before router)\nlet requestData = {};\ntry {\n  requestData = $('Extract Body').first().json;\n} catch(e) {\n  console.warn('Could not access Extract Body:', e.message);\n  requestData = sheetRow;\n}\n\nconst incomingCode = String(requestData.otpCode || '').trim();\nconst incomingEmail = String(requestData.email || '').trim();\n\nconsole.log('🔍 Verifying OTP for:', incomingEmail);\nconsole.log('🔍 Code length received:', incomingCode.length);\n\n// No row found\nif (!sheetRow || !sheetRow.email) {\n  console.warn('❌ No account row found for:', incomingEmail);\n  return [{ json: { success: false, error: 'No account found. Please register first.' } }];\n}\n\nconst storedCode = String(sheetRow.otp_code || '').trim();\nconst expiresAt  = sheetRow.otp_expires_at;\n\nif (!storedCode) {\n  console.warn('❌ No OTP stored for:', incomingEmail);\n  return [{ json: { success: false, error: 'No pending code found. Please request a new one.' } }];\n}\n\nif (storedCode !== incomingCode) {\n  console.warn('❌ OTP mismatch for:', incomingEmail);\n  return [{ json: { success: false, error: 'Invalid code. Please check and try again.' } }];\n}\n\nif (expiresAt) {\n  const expiry = new Date(expiresAt);\n  if (new Date() > expiry) {\n    console.warn('❌ OTP expired for:', incomingEmail);\n    return [{ json: { success: false, error: 'Code expired. Please request a new one.' } }];\n  }\n}\n\nconsole.log('✅ OTP valid! userId:', sheetRow.userId);\nreturn [{\n  json: {\n    success: true,\n    userId: sheetRow.userId || sheetRow.user_id || null,\n    email:  incomingEmail,\n    tier:   sheetRow.tier || 'free'\n  }\n}];"
            },
            "id": "819ae6d6-48e9-4954-9eaa-f55df7a4a1ae",
            "name": "Validate OTP",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8464,
                9280
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "7381dbd3-318d-4db6-9929-f63c049d85d6",
            "name": "OTP Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                8672,
                9280
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "accounts",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "email": "={{ $json.email }}",
                        "otp_code": "",
                        "otp_expires_at": "",
                        "lastLogin": "={{ new Date().toISOString() }}"
                    },
                    "matchingColumns": [
                        "email"
                    ]
                },
                "options": {}
            },
            "id": "d584eeb5-95dd-4eb0-bcde-ea739fa90836",
            "name": "Clear OTP (single-use)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                8864,
                9168
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ \n  {\n    \"success\": true,\n    \"userId\": $('Validate OTP').first().json.userId,\n    \"email\": $('Validate OTP').first().json.email,\n    \"tier\": $('Validate OTP').first().json.tier || \"free\",\n    \"message\": \"OTP verified\"\n  }\n}}",
                "options": {}
            },
            "id": "2bcf7ff9-cd37-4cb0-9a19-63c61ca0bae5",
            "name": "Respond OTP Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9280,
                9168
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": false, \"error\": $json.error || \"Invalid or expired code\" } }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "3770d919-f34b-4871-9fe2-e19ebebd82b3",
            "name": "Respond OTP Fail",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9280,
                9296
            ]
        },
        {
            "parameters": {
                "operation": "search",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                }
            },
            "id": "d7f235c3-eec9-4708-91e1-664dac62ea62",
            "name": "Lookup Account",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                8272,
                9472
            ],
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// SMART MERGE: Preserves usageHistory from Google Sheets!\nconst items = $input.all();\nconst webhookData = $('Action Router').first().json;\nconst existingData = items[0]?.json || null;\n\nconsole.log('📊 Webhook data:', webhookData?.userId);\nconsole.log('📊 Existing data found:', !!existingData?.email);\n\nfunction parseJSON(val, fallback = {}) {\n  if (!val) return fallback;\n  if (typeof val === 'object') return val;\n  try { return JSON.parse(val); } catch { return fallback; }\n}\n\nconst existingProfile = parseJSON(existingData?.profile, {});\nconst existingMetadata = parseJSON(existingData?.metadata, {});\nconst incomingProfile = parseJSON(webhookData.profile, {});\nconst incomingMetadata = parseJSON(webhookData.metadata, {});\n\n// PRESERVE usageHistory\nconst existingUsageHistory = existingMetadata.usageHistory || [];\nconst incomingUsageHistory = incomingMetadata.usageHistory || [];\nconst finalUsageHistory = incomingUsageHistory.length > existingUsageHistory.length\n  ? incomingUsageHistory\n  : existingUsageHistory;\n\nconst mergedProfile = { ...existingProfile, ...incomingProfile };\nconst mergedMetadata = { ...existingMetadata, ...incomingMetadata, usageHistory: finalUsageHistory };\n\nconst output = {\n  userId: webhookData.userId,\n  email: webhookData.email,\n  tier: webhookData.tier || existingData?.tier || 'free',\n  createdAt: existingData?.createdAt || webhookData.createdAt || new Date().toISOString(),\n  lastLogin: webhookData.lastLogin || new Date().toISOString(),\n  profile: JSON.stringify(mergedProfile),\n  metadata: JSON.stringify(mergedMetadata),\n  status: webhookData.status || existingData?.status || 'active'\n};\n\nconsole.log('📤 Output ready for:', output.userId);\nreturn { json: output };"
            },
            "id": "3cbf6acf-b908-4302-8490-c09e9ae62f32",
            "name": "Merge Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8464,
                9472
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1VvcsyNMhDmY4FSa3Yl0ZY4oHOPu0BATN2NXyGn_yDLs",
                    "mode": "list",
                    "cachedResultName": "keymoji"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "accounts",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "userId": "={{ $json.userId }}",
                        "email": "={{ $json.email }}",
                        "tier": "={{ $json.tier }}",
                        "createdAt": "={{ $json.createdAt }}",
                        "lastLogin": "={{ $json.lastLogin }}",
                        "profile": "={{ $json.profile }}",
                        "metadata": "={{ $json.metadata }}",
                        "status": "={{ $json.status }}"
                    },
                    "matchingColumns": [
                        "userId"
                    ]
                },
                "options": {}
            },
            "id": "622693b0-2fe6-46d9-a12f-c29ba727fe26",
            "name": "Update Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                8864,
                9472
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "SjlKGbio83VCvDmo",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ \n  {\n    \"success\": true,\n    \"account\": {\n      \"userId\": $json.userId,\n      \"email\": $json.email,\n      \"tier\": $json.tier,\n      \"createdAt\": $json.createdAt,\n      \"lastLogin\": $json.lastLogin,\n      \"profile\": $json.profile,\n      \"metadata\": $json.metadata,\n      \"status\": $json.status\n    },\n    \"message\": \"Account operation successful\",\n    \"timestamp\": new Date().toISOString()\n  }\n}}",
                "options": {}
            },
            "id": "93e90f93-4032-4cc2-a665-8ba5b8433bd5",
            "name": "Send Response1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                9280,
                9472
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"subscription\": {\n    \"id\": \"{{ $json.id }}\",\n    \"status\": \"{{ $json.status }}\",\n    \"plan\": \"{{ $json.plan }}\",\n    \"currentPeriodEnd\": \"{{ $json.current_period_end }}\",\n    \"cancelAtPeriodEnd\": false\n  },\n  \"message\": \"Subscription created successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "id": "a7317ee7-43fe-4061-89bb-6ed2cba46fbb",
            "name": "Create Response1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                8992,
                10032
            ]
        }
    ],
    "connections": {
        "Format Response1": {
            "main": [
                [
                    {
                        "node": "Respond with Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond with Like Result": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Like Response": {
            "main": [
                [
                    {
                        "node": "Respond with Like Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Like": {
            "main": [
                [
                    {
                        "node": "Format Like Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Like Update": {
            "main": [
                [
                    {
                        "node": "Save Like",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Blog Row": {
            "main": [
                [
                    {
                        "node": "Prepare Like Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Request Method": {
            "main": [
                [
                    {
                        "node": "Get Likes Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Read Blog Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle OPTIONS Request": {
            "main": [
                [
                    {
                        "node": "Respond to OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Check Request Method",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Blog Posts Likes Webhook": {
            "main": [
                [
                    {
                        "node": "Handle OPTIONS Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Likes": {
            "main": [
                [
                    {
                        "node": "Merge With Likes",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Get Likes Data": {
            "main": [
                [
                    {
                        "node": "Process Likes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond with Posts": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean Post Data": {
            "main": [
                [
                    {
                        "node": "Format Response1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Blog Posts": {
            "main": [
                [
                    {
                        "node": "Clean Post Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge With Likes": {
            "main": [
                [
                    {
                        "node": "Validate Blog Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Blog Posts": {
            "main": [
                [
                    {
                        "node": "Merge With Likes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Blog Posts Webhook": {
            "main": [
                [
                    {
                        "node": "Get Blog Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CHECK Account": {
            "main": [
                [
                    {
                        "node": "Read Accounts2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Account false": {
            "main": [
                [
                    {
                        "node": "Respond2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Account True": {
            "main": [
                [
                    {
                        "node": "Respond2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Account True",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Account false",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond2": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Accounts2": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Webhook1": {
            "main": [
                [
                    {
                        "node": "Finished",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analytics Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Analytics Sheet": {
            "main": [
                [
                    {
                        "node": "Analytics Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Analytics Data": {
            "main": [
                [
                    {
                        "node": "Save to Analytics Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analytics Only Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Analytics Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Success Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Updated Counter": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Counter Value": {
            "main": [
                [
                    {
                        "node": "Save Updated Counter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Current Counter": {
            "main": [
                [
                    {
                        "node": "Update Counter Value",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Counter Data": {
            "main": [
                [
                    {
                        "node": "Read Current Counter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Counter Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Counter Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Audit Log1": {
            "main": [
                [
                    {
                        "node": "Audit Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Audit Success Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Audit Log Processing": {
            "main": [
                [
                    {
                        "node": "Save Audit Log1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Accounting Audit Log": {
            "main": [
                [
                    {
                        "node": "Audit Log Processing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Webhook": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append row in sheet": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Rows": {
            "main": [
                [
                    {
                        "node": "Find Max Counter1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GETCounter": {
            "main": [
                [
                    {
                        "node": "Get All Rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Max Counter1": {
            "main": [
                [
                    {
                        "node": "Process Counter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Counter": {
            "main": [
                [
                    {
                        "node": "Append row in sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data6": {
            "main": [
                [
                    {
                        "node": "Route by Template",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Support Template": {
            "main": [
                [
                    {
                        "node": "Email Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Payment Template": {
            "main": [
                [
                    {
                        "node": "Email Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Subscription Template": {
            "main": [
                [
                    {
                        "node": "Email Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Welcome Template": {
            "main": [
                [
                    {
                        "node": "Email Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Template": {
            "main": [
                [
                    {
                        "node": "Welcome Template",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Subscription Template",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Data6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Action4": {
            "main": [
                [
                    {
                        "node": "Assign Variant",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Track Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data5": {
            "main": [
                [
                    {
                        "node": "Read A/B Tests",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Results Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assign Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Results": {
            "main": [
                [
                    {
                        "node": "Results Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Track Event": {
            "main": [
                [
                    {
                        "node": "Calculate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Assignment": {
            "main": [
                [
                    {
                        "node": "Assign Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assign Variant": {
            "main": [
                [
                    {
                        "node": "Save Assignment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read A/B Tests": {
            "main": [
                [
                    {
                        "node": "Route by Action4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "A/B Test Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Data5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Action3": {
            "main": [
                [
                    {
                        "node": "Track Usage",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Usage Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data4": {
            "main": [
                [
                    {
                        "node": "Read Usage Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Usage Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Track Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Usage": {
            "main": [
                [
                    {
                        "node": "Track Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Track Usage": {
            "main": [
                [
                    {
                        "node": "Save Usage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Usage": {
            "main": [
                [
                    {
                        "node": "Route by Action3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Usage Data": {
            "main": [
                [
                    {
                        "node": "Process Usage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Usage Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Data4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Action2": {
            "main": [
                [
                    {
                        "node": "Update Feature Flags",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Features Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data3": {
            "main": [
                [
                    {
                        "node": "Read Feature Flags",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Features Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Features Response": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Feature Flags": {
            "main": [
                [
                    {
                        "node": "Update Features Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Feature Flags": {
            "main": [
                [
                    {
                        "node": "Save Feature Flags",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Feature Flags": {
            "main": [
                [
                    {
                        "node": "Route by Action2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Feature Flags": {
            "main": [
                [
                    {
                        "node": "Process Feature Flags",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Feature Flags Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Data3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Response1": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Action1": {
            "main": [
                [
                    {
                        "node": "Create a customer",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Read Subscriptions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data2": {
            "main": [
                [
                    {
                        "node": "Route by Action1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Subscription": {
            "main": [
                [
                    {
                        "node": "Get Response1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Subscriptions": {
            "main": [
                [
                    {
                        "node": "Find Subscription",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Subscription": {
            "main": [
                [
                    {
                        "node": "Create Response1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Subscription Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Data2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Account Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Body": {
            "main": [
                [
                    {
                        "node": "Action Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Action Router": {
            "main": [
                [
                    {
                        "node": "Prepare OTP Store",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prepare OTP Store",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Lookup OTP Row",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Lookup Account",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare OTP Store": {
            "main": [
                [
                    {
                        "node": "Store OTP in Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store OTP in Sheets": {
            "main": [
                [
                    {
                        "node": "Respond OTP Stored",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup OTP Row": {
            "main": [
                [
                    {
                        "node": "Validate OTP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate OTP": {
            "main": [
                [
                    {
                        "node": "OTP Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OTP Valid?": {
            "main": [
                [
                    {
                        "node": "Clear OTP (single-use)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond OTP Fail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clear OTP (single-use)": {
            "main": [
                [
                    {
                        "node": "Respond OTP Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Account": {
            "main": [
                [
                    {
                        "node": "Merge Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Data": {
            "main": [
                [
                    {
                        "node": "Update Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheets": {
            "main": [
                [
                    {
                        "node": "Send Response1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Response1": {
            "main": [
                [
                    {
                        "node": "Finished1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Accounting Audit Log": [
            {
                "headers": {
                    "host": "n8n.chooomedia.com",
                    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
                    "content-length": "277",
                    "accept": "*/*",
                    "accept-encoding": "gzip, deflate, br, zstd",
                    "accept-language": "en-GB,en;q=0.6",
                    "content-type": "application/json",
                    "origin": "https://keymoji.wtf",
                    "priority": "u=1, i",
                    "referer": "https://keymoji.wtf/",
                    "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Brave\";v=\"146\"",
                    "sec-ch-ua-mobile": "?0",
                    "sec-ch-ua-platform": "\"macOS\"",
                    "sec-fetch-dest": "empty",
                    "sec-fetch-mode": "cors",
                    "sec-fetch-site": "cross-site",
                    "sec-gpc": "1",
                    "x-forwarded-for": "157.143.113.2",
                    "x-forwarded-host": "n8n.chooomedia.com",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {},
                "body": {
                    "operation": "VERIFY_LOGIN",
                    "error": "token is not defined",
                    "event": "OPERATION_FAILED",
                    "accountingType": "account_management",
                    "timestamp": "2026-04-09T21:10:47.336Z",
                    "clientFingerprint": "data:image/png;base64,iVBORw0KGg",
                    "sessionId": null,
                    "tier": "free",
                    "action": "OPERATION_FAILED"
                },
                "webhookUrl": "https://n8n.chooomedia.com/webhook/xn--moji-pb73c-accounting-audit-log",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3dae61a0a24f0b093f057680559772c3c73ec97ec47a9bd2a5ad745c7d8f0365"
    }
}